<!-- originally created for cyber.fund project-->
<template name="portfolioWidget">
  {{#if subReady}}
    {{#if showAccountsAdvertise}}
      {{#if isOwnAssets}}
      <div>
        <div class="container center">
          <br>
          <br>
          <h3> Welcome to cyber <span class="red-text">•</span> Fund!! Here is short video to help you get started.</h3>
          <br>
          <br>
          <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/VPQhbLOQIyc?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
        </div>
      </div>
      {{/if}}
    {{else}}
      {{> portfolioWidgetView}}
<div class="orange lighten-3 black-text"> we currently rework portfolio widget. so it s not fully accurate</div>
      {{#if hideTable}} {{else}}
        {{! > portfolioWidgetTable}}
      {{/if}}
    {{/if}}
  {{/if}}
</template>
