<template name="portfolioWidgetView">
  <div class="row">
    <div class="col s12 m6 l6">
      <h1 class="center">Ƀ {{ sumB}} </h1>

      <h2 class="center">$ {{ sumU}} </h2>

      <!--div class="center black-text">
        <small>
          Hint: go to <a href="{{pathFor '/@:username' username=ownUsername}}">Profile</a> page to add assets
        </small>
      </div-->
      <table>
        <thead>
          {{#if isOwnAssets}}
          <th class="right-align"><i class="tiny grey-text material-icons">visibility</i></th>
          <th class="center">Account</th>
          {{else}}
          <th class="center">Account</th>
          {{/if}}

          <th class="right-align">Σ Ƀ</th>
          <th class="right-align">Σ $</th>
        </thead>
        <tbody>
          {{#each accountsData}}
            {{> pwvRow}}
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col s12 m6 l6">
      {{> folioChart accountsData=filteredAccountsData}}
    </div>
  </div>
</template>


<template name="pwvRow">
<tr>
  {{#if isOwnAssets}}
  <td class="right align">
    <input {{showAccount}} type="checkbox" account-id="{{_id}}" id="toggle-account-{{_id}}"
    class="count-account checkbox-green filled-in"
       />
    <label class="grey-text black-text" for="toggle-account-{{_id}}">
      <i class="tiny grey-text material-icons">{{#if isPrivate}}visibility{{else}}visibility_off{{/if}}</i>
     </label></td>
  <td> {{name}} </td>
  {{else}}
  <td>
    <input {{! showAccount}} type="checkbox" account-id="{{_id}}" id="toggle-account-{{_id}}"
    class="count-account checkbox-green filled-in"
       />
    <label class="black-text" for="toggle-account-{{_id}}">{{name}}</label></td>
  {{/if}}
  <td class="right-align">{{readableN vBtc 4}}</td>
  <td class="right-align">{{readableN vUsd 2}}</td>
</tr>
</template>
