<template name="pwvRow">
<tr>
  {{#if shouldShowCheckboxes}}
    {{#if isOwnAssets}}
    <td class="left-align ">
      <input {{showAccount}} type="checkbox" account-id="{{_id}}" id="toggle-account-{{_id}}"
      class="count-account checkbox-green filled-in"
         />
      <label class="grey-text black-text" for="toggle-account-{{_id}}">
        <i class="tiny grey-text material-icons">{{#if isPrivate}}visibility{{else}}visibility_off{{/if}}</i>
       </label>
    </td>
    <td> {{name}} </td>
    {{else}}
    <td>
      <input {{showAccount}} type="checkbox" account-id="{{_id}}" id="toggle-account-{{_id}}"
      class="count-account checkbox-green filled-in"
         />
      <label class="black-text" for="toggle-account-{{_id}}">{{name}}</label>
    </td>
    {{/if}}
  {{else}}
    <td> {{name}} </td>
  {{/if}}
  <td class="right-align">{{readableN4 vBtc}}</td>
  <td class="right-align">{{readableN2 vUsd}}</td>
</tr>
</template>
