/* PLEASE READ */
/*
the reason behind not using inline styles in react components are:
1) they can become complex
2) they make component code non-readable
3) it is very hard to apply responsive styles
the reason for not using independent style file for every component:
meteor-webpack does not support importing css or html in js. So all css dependencies must be listed in
separate file which can become unmaintainable.
This is the reason for using main.scss for everything (temprorary?)
*/
/* ALSO
using !important everywhere because currently mdl-react links styles using <style> tag, which overrides everything IIRC
this solution is temporary
*/

@import url('https://code.getmdl.io/1.1.3/material.blue-red.min.css');


/* MAIN */
body {
	background: #edeef0;
    margin: 0;
    // main content were not horyzontally aligned
    main, .mdl-layout__content { // main = .mdl-layout__content
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        hr {
            border: none !important;
            height: 1px !important;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
        }
    }
    footer {
        /* TL: DR floating round buttons were invisible in footer area because
            see http://stackoverflow.com/questions/5218927/z-index-not-working-with-fixed-positioning */
        //position: absolute;
        width: 100%;
        @media (max-width: 760px){
                width: 100%; // full width
                max-width: 90%; // but make sure to show all the content
        }
    }
}
/* SIDEBAR (DRAWER) */
.mdl-layout__drawer {
    .mdl-layout-title {
        padding: 0 !important;
        a {
            color: black !important;
        }
    }
    nav {
        padding-top: 0 !important;
    }
}
/* UTILITIES */
// visibility manipulaton
.hidden, .display-none {
	display: none;
}
.visible, .display-initial {
	display: initial;
}
// component aligment
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  //display: block;
  margin-left: auto;
  margin-right: auto;
}
// text manipulation
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-large {
  font-size: 136%;
}
.clear, .clear-fix {
  clear: both;
}
.red-text, .text-red {
  color: #F44336;
}
.green-text, .text-green {
  color: #4CAF50;
}

// adds animated shadow effect on hover
.hover-shadow {
  transition: box-shadow .25s;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
/* fixes */
// problem: footer were displayed as it is outside of .mdl-layout and had display: static
// but no such styles were applied to actual tag. Very strange.
.mdl-layout__inner-container{
  height: auto !important;
}
// fab (circular) buttons are usually used to make floating buttons
.mdl-button--fab, .fab, .float, .float-button, .button-float {
	position: fixed;
    right: 20px;
    bottom: 20px;
}
// problem: floating FABButton were invisible in .mdl-card area
.mdl-card {
	z-index: 0 !important;
}

/* HEADER */

// search icon were out of line but the element itself were fine
[for="textfield-Searchforcoin"] {
  // .material-icons
  // line-height: 32px !important;
  bottom: 16px !important;
}

/* FOOTER */

// footer columns were 33% width in tablet mode,
// but there were 4 of them
@media screen and (min-width: 760px) {
  .mdl-mega-footer--drop-down-section, .mdl-mega-footer__drop-down-section {
      width: 25% !important;
  }
  .mdl-mega-footer--drop-down-section:nth-child(3), .mdl-mega-footer__drop-down-section:nth-child(3) {
      float: left !important;
  }
}


/* Tables */
// problem: on small screens table cells are too wide
@media (max-width: 375px){
    .table {// make table horyzontally scrollable
        overflow: auto !important;
    }
    // make table cells less wide
    .mdl-data-table td, .mdl-data-table th {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

// super wide screen styles
@media screen and (min-width: 1921px) {
    // navigation bar, content and footer
    .mdl-layout__header-row,
    .mdl-layout__content,
    .mdl-mega-footer {
        max-width: 1922px;
        margin: 0 auto;
    }// drawer button need to be repositioned
    .mdl-layout__drawer-button {
        left: 25%;
    }
}
// this makes youtube embed iframe responsive
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
    iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}
// rating stars
.rating  {
	text-align: center;
	width: 100%;
	&[data-value="1"] {
  	  color: #000000;
    }
	&[data-value="2"] {
		color: #FF1744;
	}
	&[data-value="3"] {
		color: #FF9100;
	}
	&[data-value="4"] {
		color: #FFEA00;
	}
	&[data-value="5"] {
		color: #00E676;
	}
}

/**** RADAR PAGE ****/
#RadarPage {
    .mdl-card {
        // CrowdsaleCard have bunch of paragraphs and margin makes card to tall
        p { margin-bottom: 0; }
        // same as previous
        .mdl-card__supporting-text {
            padding-top: 5px;
        }
    }
}

/**** WELCOME PAGE ****/
#WelcomePage {
    hr {
        margin: 80px auto 50px;
    }
    p a { // "For Developers" button links
        margin-top: 20px;
    }
}
/**** LOGIN PAGE ****/
#LoginPage {
	height: calc(100vh - 64px); // screen size minus navbar size
	position: relative;
	// login/signin template was not centered
	// first section = .at-form (accounts-ui login/signin template)
	> section {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* MainLayout */
main {
    min-height: calc(100vh - 64px) // screen size minus navbar size
}
@media (max-width: 1024px){
    main {
        min-height: 100vh // navbar is collapsed on mobile and tablets
    }
}
