
html,body {
   height:100%;
   font-weight: 400;
}

.container {
  min-height: 75%;
}

.row {
   height:100%;
}

.tall{
    height:100%;
}

.v-center {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.typeahead {
  width: 400px;
  display: block;

  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
}

.tt-hint {
  border:none;
  color: #B8B8B8;
  font-size:16px;
}

.tt-dropdown-menu {
  width: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestion {
  padding: 2px 0 2px 4px;
}

.tt-suggestion p {
  margin: 0 0 0 0;
  font-size: 14px;
}

.tt-suggestion.tt-cursor {
  background-color: #F0F0F0;
}

.tt-active {
  background: #fff url('/static/select2-spinner.gif') no-repeat 100% !important;
}

.tt-type {
  color: #CCCCCC;
  font-style: italic;
}

.avatar-frame{}
.avatar-frame,.avatar-frame img{
  height: 180px;
  -webkit-border-radius: 180px; /* Saf3+, Chrome */
  border-radius: 180px; /* Opera 10.5, IE 9 */
  }
.avatar-text {
  margin-left: 20px;
}

.human-name {
  margin: 0;
}

.human-title {
  margin: 0;
  margin-bottom: 5px;
}

.num {
  text-align: right;
}
a {
  cursor: pointer;
}
a :hover {
  opacity: 0.7;
}
.user-picture {
  background-image: url(//www.imshopping.com/images/avatars/anonymousIcon.gif);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.nounderline {
  text-decoration: none !important;
}

.nounderline :hover {
  text-decoration: none !important;
}
