html {
  font-family: "RobotoDraft", sans-serif;
}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo-sys {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

p {
  line-height: 1.4rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #ffffff;
  color: rgba(255, 255, 255, .9)
}

.parallax-container .section {
  width: 100%;
}

.team{
	background:url("/images/blockchain.jpg") no-repeat 0 0;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height:300px;
	padding:60px 0;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  .index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .index-banner .section {
    top: 0;
  }

  html {
    font-size: 11px
  }
}

.icon-block {
  padding: 0 10px;
}


.nav-mobile li {
  display: block
}

.callout {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -14px;
  left: 120px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.enlarge {
  font-size: 136%;
}

main {
  flex: 1 0 auto;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.th-sys {
  margin-left: 40px
}

.rating-sys {
  font-size: 2.4rem;
  margin-top: 1rem;
}

.header-sys {
  font-size: 3.5rem;
  display: block;
}

.symbol-sys {
  font-size: 1.6rem;
  display: block;

}

.nar-row {
  margin:0 5%;
}

@media only screen and (max-width: 600px) {
  .w90 {
    width: 98%;
  }
  .nar-row {
    margin:0 1%;
  }

  .alike-navlink {
    padding: 0 6px;
  }

  .enlarge {
    font-size: 127%;
  }

  .th-sys {
    margin-left: 32px
  }

  .rating-sys {
    font-size: 1.5rem;
    margin-top: 1.1rem;
  }

  .header-sys {
    font-size: 2.2rem;
    padding-top: 1.2rem;
  }
  .symbol-sys {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1201px) {
  .alike-navlink {
    padding: 0 20px;
  }

  .th-sys {
    margin-left: 54px
  }
}


.hoverable-my tr:hover {
  background-color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.05);
}

.alike-navlink {
  padding: 0 15px;
}

.account-item {
  position: relative;
  min-height: 12rem;
}

.address-item {
  position: relative;
  margin-top: 9px;
  min-height: 3.2rem;
}

.asset-item {
  position: relative;
}

.btn-margin-right{
  margin-right: 12px
}

.btn-margin-left {
  margin-left: 12px;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.contain-all {
  margin-top: 60px;
  min-height:100%;
  position:relative;
}

.page-footer {
  bottom:0;
  width:100%;
}

.assets-manager .collection {
  border: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.assets-manager .collection .collection-item {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0
}

.assets-manager .address-item {
  padding-left: 20px;
}

.no-bottom-margin {
  margin-bottom: 0
}

.hoverie {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  transition-delay: 0.1s
}

.account-item:hover > div > .hoverie,
.collection-item:hover > div > .hoverie,
.collection-item:hover > .hoverie {
  visibility: visible;
  opacity: 1;
}

.radar-card .card-title, .project-card .card-title {
  margin-bottom: 20px;
}

.nowrap {
  display: inline; white-space: nowrap
}

.avatar-round {
  border-radius: 50%;
}

.side-nav .waves-effect {
  display: block
}
/* self explanatory */
.hover-shadow:hover, radar-card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
