.with-tooltip {
  position: relative;
}

.with-tooltip .tooltip {
  display: none;
}

.with-tooltip:hover .tooltip, .tooltip-v  {
  position: absolute;
  display: block;
  text-align: left;
  right: 80%;
  top: 0;
  border-radius: 6px;
  width: 200px;
  line-height: 1rem;
  font-size: 0.8rem;
  z-index: 40;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 10px 0;
  margin: 6px;
}

.tooltip-default {
  margin: 6px;
  background: red
}

.tooltip-contrast {
  background: white;
  color: #113315;
}

.tooltip-revert {
  color: white;
  background: #113315;
}

.tooltip-itemprop {
  text-align: center;
  border: 3px solid black;
  padding: 2em;
  background: darkgreen;
  color: white;
  border-radius: 1em;
  font-weight: 800;
}
