.fixed-thead {
    background-color: white;
    position: fixed;
    top: -80px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 200;
    padding-top: 10px;
}

.fixed-thead.show {
    top: 55px;
    //todo: mediaqueries
}