.fixed-thead {
    background-color: white;
    position: fixed;
    top: -80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 10px;
}

.fixed-thead.show {
    top: 55px;
}

.z20 {
    z-index: 20;
}