<!-- originally created for cyber.fund project-->
<template name="ratingTable">
  <div class="card" style="padding:10px">
    <table class="hoverable" align="center">
        <thead>
        <th class="left-align"><span style="margin-left: 40px">&nbsp;&nbsp;System</span>
        </th>
        <th class="center hide-on-small-and-down">↓ Rating</th>
        <th class="center hide-on-small-and-down">Token</th>
        <th class="center hide-on-small-and-down">Trade</th>
        <th class="right-align hide-on-med-and-down">Cap in Ƀ</th>
        <th class="right-align hide-on-med-and-down">7d Change</th>
        <th class="right-align">Cap in $</th>
        <th class="right-align">7d Change</th>
        </thead>
        <tbody>
        {{#each rows}}
            <tr style="vertical-align: middle">
                <td class="left-align">
                    <a href="{{pathFor 'system' name_=name_}}">
                        {{> hitryImage img_url=img_url style="width: 40px; height: 40px;vertical-align:middle"}}

                        <span class="enlarge"
                              style="vertical-align: middle">&nbsp;{{_name}}</span>
                    </a>
                </td>

                <td class="center-align hide-on-small-and-down">

                        {{>cfRating rating=metrics.rating}}</td>

                <td class="center-align hide-on-small-and-down">{{# withTooltip}}
                    <span>{{percentsToText supplyChangePercents.week}}</span>
                    {{#tooltip}}
                        <div>Current supply:
                            <b>{{readableN supply 0}}</b>
                        </div>
                        <div>Absolute change:
                            <b>{{readableN supplyChange.week 0}}</b>
                        </div>
                    {{/tooltip}}
                {{/withTooltip}}</td>

                <td class="center-align hide-on-small-and-down">
                    {{#if tradeVolumeOk tradeVolume}}
                        {{# withTooltip}}
                            <span>{{deviationToText tradeVolumeMedianDeviation.week tradeVolume}}</span>
                            {{#tooltip}}
                                <div>Trade volume
                                    (24h):<b>{{readableN tradeVolume 2}}</b>BTC
                                </div>
                                <div>Median
                                    deviation:<b>{{readableN tradeVolumeMedianDeviation.week 2}}</b>BTC
                                </div>
                            {{/tooltip}}
                        {{/withTooltip}}
                    {{else}}
                        <span>Illiquid</span>
                    {{/if}}
                </td>

                <td class="right-align hide-on-med-and-down">{{# withTooltip}}
                    Ƀ&nbsp;{{readableN cap.btc 0}}
                    {{#if price.btc}}
                        {{#tooltip}}
                            <div>Price per 1 {{_name}}:<br/>
                                <b>Ƀ&nbsp;{{price.btc}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align hide-on-med-and-down">{{# withTooltip}}
                    <span class="{{percentsToClass capChangePercents.week.btc}}">
                        {{percentsToText2 capChangePercents.week.btc}}</span>
                    {{#if capChange.week.btc}}
                        {{#tooltip}}
                            <div>Real change:
                                <b>{{readableN capChange.week.btc 2}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align">{{# withTooltip}}
                    <span class="enlarge">$&nbsp;{{readableN cap.usd 0}}</span>
                    {{#if price.btc}}
                        {{#tooltip}}
                            <div>Price per 1 {{_name}}:<br/>
                                <b>$&nbsp;{{price.usd}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align">{{#withTooltip}}
                    <span class="{{percentsToClass capChangePercents.week.usd}}">
                        {{percentsToText2 capChangePercents.week.usd}}</span>

                    {{#tooltip}}
                        <div>Real change:
                            <b>{{readableN capChange.week.usd 2}}</b>
                        </div>
                    {{/tooltip}}
                {{/withTooltip}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
  </div>
    {{#if or hasMore evenMore}}
        <div class="center">
            <a class="waves-effect waves-light btn show-more deep-orange">
                <i class="mdi-navigation-expand-more left"></i>
                <i class="mdi-navigation-expand-more right"></i>
                show {{#if evenMore}}even more{{/if}} crap</a>
        </div>
    {{/if}}
    <div style="padding-bottom: 40px"></div>
</template>
