[submodule "libs/gae_mini_profiler"]
	path = libs/gae_mini_profiler
	url = git@github.com:kamens/gae_mini_profiler.git
[submodule "docs"]
	path = docs
	url = https://github.com/cyberFund/cyberFund.wiki.git
