input.search-input {
  border: 0;
  display: inline;
  height: 1rem;
  line-height: 1rem;
  width: 8em;
}
input.search-input.at-navbar{
  vertical-align: bottom;
  margin-bottom: 34px;
}
.search-wrap .-autocomplete-container {
  position: absolute;
  background: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 340px;
  margin-top: 28px;
  padding-right: -80px;
  display: block;
  z-index: 1000;
}

.search-wrap .-autocomplete-list {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.search-wrap .-autocomplete-item {
  display: block;
  width: 100%;
  padding: 0 10px 0;
  border-bottom: 1px solid #DDD;
}

.search-wrap .-autocomplete-item.selected {
  color: white;
  background: #FF9100;
  text-decoration: none;
}