/* for proper click animation effect brand logo must have a little space */
nav .brand-logo {
  padding: 0 10px;
}
/* "join us" button will not have list item-like background on hover  */
.right.hide-on-med-and-down li:last-child:hover {
  background-color: transparent;
}
/* same as previous */
#nav-mobile li:last-child:hover {
    background-color: rgba(255,255,255, 0.7);
}
/* sidebar items aligned by center, not to the left */
#nav-mobile li {
  text-align: center;
}
/* button were taking whole height leaving no space for :hover shadow effect */
#nav-mobile li:last-child {
  padding-bottom: 10px;
}
/* button were taking whole width of li element leaving no space between items */
.right.hide-on-med-and-down li:last-child {
  margin-left: 15px;
}

input.search-input {
  border: 0;
  display: inline;
  height: 1rem;
  line-height: 1rem;
  width: 8em;
}
input.search-input.at-navbar{
  vertical-align: middle;
  font-size: 1.4em;
}
.search-wrap .-autocomplete-container {
  position: absolute;
  background: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  max-width: 340px;
  margin-top: 28px;
  margin-left: -30px;
  padding-right: -30px;
  left: 0 !important;
  display: block;
  z-index: 1000;
}

.search-wrap .-autocomplete-list {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.search-wrap .-autocomplete-item {
  display: block;
  width: 100%;
  padding: 0 10px 0;
  margin-right: 10px;
  border-bottom: 1px solid #DDD;
}

.search-wrap .-autocomplete-item.selected {
  color: white;
  background: #FF9100;
  text-decoration: none;
  font-size: 110%;
}
