<!-- originally created for cyber.fund project-->
<template name="footer">
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About cyber•Fund</h5>
                    <p class="grey-text text-lighten-4">cyber•Fund missions to make digital investment ...</p>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Labs</h5>
                    <ul>
                        <li><a class="white-text" href="#%21">cyber•Wiki</a></li>
                        <li><a class="white-text" href="#%21">cyber•Talks</a></li>
                        <li><a class="white-text" href="/cyberep">#cyberep</a></li>
                        <li><a class="white-text" href="#%21">cyber•Shares</a></li>
                        <li><a class="white-text" href="#%21">satoshi•Fund</a></li>
                    </ul>
                </div>


                <div class="col l2 s12">
                    <h5 class="white-text">Devs</h5>
                    <ul>
                        <li><a class="white-text" href="#%21">Github</a></li>
                        <li><a class="white-text" href="#%21">Feedback</a></li>
                        <li><a class="white-text" href="#%21">Roadmap</a></li>
                        <li><a class="white-text" href="#%21">API</a></li>
                    </ul>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#%21">Twitter</a></li>
                        <li><a class="white-text" href="#%21">Facebook</a></li>
                        <li><a class="white-text" href="#%21">Google+</a></li>
                        <li><a class="white-text" href="#%21">LinkedIn</a></li>
                        <li><a class="white-text" href="#%21">AngelList</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</template>
