<!-- originally created for cyber.fund project-->
<template name="footer">
    <footer class="page-footer blue">
        <div class="w90">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">About
                      cyber<span style="color: yellow; font-size:0.85em;">
                        <strong>•</strong>
                      </span>Fund
                    </h5>
                    <p class="grey-text text-lighten-4">Our mission to make digital investments comprehensible, accessible, easy and safe.</p>
                    <form action="subscribe">
                      <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <button
                          class="btn waves-effect waves-light right" type="submit"
                          name="subscribe">Submit
                          <i class="mdi-content-send right"></i>
                        </button>
                      </div>
                    </form>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Explore</h5>
                    <ul>
                        <li><a class="white-text" href="http://cybertalks.org/t/cyber-wiki-main" target="_blank">cyber•Wiki</a></li>
                        <li><a class="white-text" href="http://cybertalks.org/t/what-is-cyber-talks-about/" target="_blank">cyber•Talks</a></li>
                        <li><a class="white-text" href="/cyberep">#cyberep</a></li>
                        <li><a class="white-text" href="http://cybershares.net" target="_blank">cyber•Shares</a></li>
                        <li><a class="white-text" href="/satoshifund">satoshi•Fund</a></li>
                    </ul>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Invest</h5>
                    <ul>
                        <li><a class="white-text" href="https://medium.com/cyber-blog/unraveling-cyber-fund-188ded8c5128" target="_blank">Why cyber•Fund?</a></li>
                        <li><a class="white-text" target="_blank" href="http://cybertalks.org/groups/cyberfund/members">Team</a></li>
                        <li><a class="white-text" href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK" target="_blank">Asset</a></li>
                        <li><a class="white-text" href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK/owners" target="_blank">Holders</a></li>
                        <li><a class="white-text" href="https://angel.co/cyber-fund" target="_blank">AngelList</a></li>
                    </ul>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Build</h5>
                    <ul>
                        <li><a class="white-text" href="http://cybertalks.org/t/cyber-fund-app-feedback" target="_blank">Feedback</a></li>
                        <li><a class="white-text" href="https://github.com/cyberFund" target="_blank">Github</a></li>
                        <li><a class="white-text" href="https://github.com/cyberFund/cyber.fund/milestones" target="_blank">Roadmap</a></li>
                        <li><a class="white-text" href="#%21" target="_blank">API</a></li>
                        <li><a class="white-text" href="#%21" target="_blank">Bounties</a></li>
                    </ul>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="/subscribe">Subscribe</a>
                        </li>
                        <li><a class="white-text"
                               href="https://twitter.com/cyberfundio"
                               target="_blank">Twitter</a></li>
                        <li><a class="white-text"
                               href="https://www.facebook.com/cyberfund"
                               target="_blank">Facebook</a></li>
                        <li><a class="white-text"
                               href="https://plus.google.com/+CyberfundIo"
                               target="_blank">Google+</a></li>
                        <li><a class="white-text"
                               href="https://www.linkedin.com/company/cyberfund"
                               target="_blank">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>
