<!-- originally created for cyber.fund project-->
<template name="footer">
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About cyber•Fund</h5>
                    <p class="grey-text text-lighten-4">Our mission to make digital investments comprehensible, accessible, easy and safe.</p>
                    <p class="grey-text text-lighten-4">More information in the  post <a style="color:white" href="https://medium.com/cyber-blog/unraveling-cyber-fund-188ded8c5128" target="_blank">"Revealing cyber•Fund"</a></p>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Labs</h5>
                    <ul>
                        <li><a class="white-text" href="http://cybertalks.org/t/cyber-wiki-main" target="_blank">cyber•Wiki</a></li>
                        <li><a class="white-text" href="http://cybertalks.org/t/what-is-cyber-talks-about/" target="_blank">cyber•Talks</a></li>
                        <li><a class="white-text" href="/cyberep">#cyberep</a></li>
                        <li><a class="white-text" href="http://cybershares.net" target="_blank">cyber•Shares</a></li>
                        <li><a class="white-text" href="/satoshifund">satoshi•Fund</a></li>
                    </ul>
                </div>


                <div class="col l2 s12">
                    <h5 class="white-text">Devs</h5>
                    <ul>
                        <li><a class="white-text" href="https://github.com/cyberFund" target="_blank">Github</a></li>
                        <li><a class="white-text" href="http://cybertalks.org/t/cyber-fund-app-feedback" target="_blank">Feedback</a></li>
                        <li><a class="white-text" href="https://github.com/cyberFund/cyber.fund/milestones" target="_blank">Roadmap</a></li>
                        <li><a class="white-text" href="#%21" target="_blank">API</a></li>
                        <li><a class="white-text" href="https://angel.co/cyber-fund">AngelList</a></li>
                    </ul>
                </div>

                <div class="col l2 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                      <li><a class="white-text" href="/subscribe">Subscribe</a></li>
                        <li><a class="white-text" href="https://twitter.com/cyberfundio" target="_blank">Twitter</a></li>
                        <li><a class="white-text" href="https://www.facebook.com/cyberfund" target="_blank">Facebook</a></li>
                        <li><a class="white-text" href="https://plus.google.com/+CyberfundIo" target="_blank">Google+</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/company/cyberfund" target="_blank">LinkedIn</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</template>
