<!-- originally created for cyber.fund project-->
<template name="navbar">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" class="waves-effect brand-logo center">cyber &nbsp;<span
                    style="color: red; font-size: 1.1em;">•</span>&nbsp;Fund</a>
            <ul class=" hide-on-med-and-down">
                {{> navbarItem path="/" text="Rating"}}
                {{> navbarItem path="/portfolio" text="Portfolio"}}
                {{> navbarItem path="/radar" text="Radar"}}
            </ul>
            <ul style="left: -250px" id="nav-mobile" class="side-nav">
                {{> navbarItem path="/" text="Rating"}}
                {{> navbarItem path="/portfolio" text="Portfolio"}}
                {{> navbarItem path="/radar" text="Radar"}}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i
                    class="mdi-navigation-menu"></i></a>
        </div>
        <div class="right">hi</div>
    </nav>
</template>

<template name="navbarItem">
    <li class="waves-effect {{isActivePath path=path}}"><a href="{{path}}">{{text}}</a></li>
</template>