<template name="main">
    <style>
      @media only screen and (max-width: 600px) {
        #top5-links a {
          width: 100%;
          margin: 10px 0 0;
        }
      }
    </style>
    <div class="row center-align">
        <div>
            <h2>Blockchains Grow Here</h2>
                  <div class="col s12 m12 mpbtn">
        <a style="margin-right: 28px" class="blue waves-effect waves-light btn" href="/rating">Compare Assets</a>
        <a class="green waves-effect waves-light btn" href="/listing">Submit Asset</a>
      </div>
            <h6 class="red-text mredtxt">{{usersCount}} people are ready to invest in {{coinsCount}} groundbreaking systems</h6>
        </div>
    </div>
    {{> mainPageSystemsWidget}}
    <div class="row center-align" id="top5-links">
    </div>
    <br>

    <div class="row center-align _flexbox">
        <div style="width: 48rem">     {{> cybernomicsCap}}    </div>
        <div class="col s6 m6 l4 center valign" style="padding:10px">

            <h5>My Portfolio</h5>
            <br />
            {{#if currentUser}}
              <h4><a href="/profile">~{{readableN2 sumBtc }} bitcoins</a></h4>
            {{else}}
              <h4><a href="/welcome" style="text-decoration: none"> 0 bitcoins </a></h4>
              <a class="waves-effect waves-teal btn-flat blue-text text-darken-2" href="/welcome"><p>Join Us</p></a>
            {{/if}}
        </div>

    </div>
    <div class="row">
        <div class="col m12 center valign" style="padding:10px">
            {{> mainPageCrowdasalesWidget}}
        </div>
    </div>
    <div>
        {{ > balanceChecker1}}
    </div>
</template>
