<template name="mainPageSystemsWidget">
    <h5 class="center "> Top 5 Rated Assets </h5>
    <table class="" style="max-width: 30em; margin: 0 auto; ">
        <thead class="">
          <th data-field="name" class="">
              System
          </th>
          <th data-field="CMGR" class="center">
              {{# withTooltip}} CMGR[$]
              {{#tooltip class="tooltip-table-head right0"}}
                <h5 class="center">Compound Monthly Growth Rate</h5>
                <p>
                Key indicator that shows long term profitability of investment.
                We use monthly calculation in opposite to annual in traditional
                finance as blockchain markets are faster than tradational thus
                should be evaulated more frequently</p>
              {{/ tooltip}} {{/ withTooltip}}
          </th>
          <th data-field="Lifetime" class="center">
            {{# withTooltip}} Months
            {{#tooltip class="tooltip-table-head right0"}}
              <h5 class="center">Lifetime</h5>
              <p>This is time passed since time of sampling 'first price' metric.</p>
            {{/ tooltip}} {{/ withTooltip}}
          </th>
          <th data-field="rating/score" class="center">
            {{# withTooltip}} Rating
            {{# tooltip class="tooltip-table-head right0"}}
            <h5 class="center">Rating</h5>
            <p> Compound evaluation of a given crypto property.
              Methodology depend on a stage, type and class of a given cryptoproperty.
              More than 50 indicators are evaluated in a realtime.
            </p><p>
              <a target="_blank" href="https://github.com/cyberFund/cyberrating/blob/master/scoring.md">
                Full methodology</a> and rationale in paper <a target="_blank" href="https://github.com/cyberFund/cyberrating/blob/master/paper.md">
                cyber•Rating: Cryptoproperty Evaluation</a>
            </p>
            {{/ tooltip }} {{/withTooltip}}

          </th>
        </thead>

        <!-- 5 top rated systems-->
        {{#each systems}}
        <tr class="">
            <td class=""><a href="{{pathFor '/system/:name_' name_=(_toUnderscores _id)}}">
              {{> cgSystemLogo system=this class="logo-icon"}}
                <span class="nowrap"
                  itemprop="name">
                  {{displaySystemName this}}
                </span></a>
            </td>
            <td class="center">
              {{#if calculatable.RATING.vector.GR.monthlyGrowthD}}
                {{readableN1 calculatable.RATING.vector.GR.monthlyGrowthD}}%
              {{/if}}
            </td>
            <td class="center">
               {{#if calculatable.RATING.vector.GR.months}}
                {{readableN0 calculatable.RATING.vector.GR.months}}
              {{/if}}
            </td>
            <td class="center">
                {{readableN1 calculatable.RATING.sum}}
            </td>
        </tr>
        {{/each}}
    </table>
    <div style="float: right; width: 40px; height: 40px;">.</div>
</template>

<template name="mainPageCrowdasalesWidget">
    <h5><a href="/radar">Active Crowdsales</a></h5>
    {{#each activeCrowdsales}}
      {{> cgLinkToSystemCard this }}
    {{/each}}
</template>

<template name="main">
    <div class="row center-align">
        <div class="">
            <br>
            <h2>Blockchains Grow Here</h2>
            <br>
            <h5>{{usersCount}} people are ready to invest in {{coinsCount}} groundbreaking systems</h5>
        </div>
    </div>
    {{> mainPageSystemsWidget}}
    <br>
    <br>
    <div class="row center-align">
      <a style="margin: 12px; border-radius: 3px;" class="blue waves-effect waves-light btn" href="/rating">Start Investing</a>
      <a style="margin: 12px; border-radius: 3px;" class="disabled green waves-effect waves-light btn" href="/listing">Attract Investments</a>
    </div>
    <br>
    <div class="row center-align _flexbox">
        <div class="col s12 m6 l4 center valign" style="padding:10px">
            <h5>Daily Widget</h5>
            <br>
            <div class="card markt">
                <h5>Cybernomics Cap</h5>
                {{#if capUsd }}
                <p>
                    <span class="enlarge">$&nbsp;{{readableN0 capUsd}}</span>
                    <br> {{#if capUsdDailyChange}}

                    <span class="{{greenRedNumber capUsdDailyChange}}">
            {{percentsToTextUpDown capUsdDailyChange 4}}</span> {{else}} &nbsp; {{/if}}
                </p>
                {{/if}}{{#if capBtc}}
                <p>
                    <span class="enlarge">Ƀ&nbsp;{{readableN0 capBtc}}</span>
                    <br> {{#if capBtcDailyChange}}

                    <span class="{{greenRedNumber capBtcDailyChange}}">
            {{percentsToTextUpDown capBtcDailyChange 4}}</span> {{else}}&nbsp; {{/if}}
                </p>
                {{/if}}
            </div>
            {{> balanceChecker1}}
        </div>

        <div class="col s12 m6 l4 center valign" style="padding:10px">
            {{> mainPageCrowdasalesWidget}}
        </div>
        <div class="col s12 m12 l4 center valign" style="padding:10px">
            <h5>My Portfolio</h5>
            <br>
            <h4>{{#if currentUser}}~{{readableN2 sumBtc}}{{else}}0{{/if}} bitcoins</h4>
            {{#if currentUser}}{{else}}<p><a href="/welcome">Join Us</a></p>{{/if}}
        </div>
    </div>
</template>
