<template name="funds">

  <h4 class="center">Top Funds You Follow</h4>
  {{#if currentUser}}

  {{> fundsTable rows=rowsIFollow id='funds-i-follow'}}

  {{else}}

  <p class="center">{{> atNavButton}}</p>
  {{/if}}

  <h4 class="center">Top Funds You Don't Follow</h4>
  <p class="center">
    We currently only list here people with 3+ followers
  </p>
  <table class="center" style="max-width: 36em; margin: 0 auto" id="fun-ds-table">
    {{thead}}
    <tbody>
      {{#each rowsIDontFollow}}
        {{> fundsRow this}}
      {{/each}}
    </tbody>
  </table>
</template>

<template name="fundsTable">
  <table class="center" style="max-width: 36em; margin: 0 auto" id={{id}}>
    <thead>
      <th class="center">Fund</th>
      <th class="center">Valuation in Ƀ</th>
      <th class="center">Valuation in $</th>
      <th class="center">Followed By</th>
    </thead>
    <tbody>
      {{#each rows}}
        {{> fundsRow this}}
      {{/each}}
    </tbody>
  </table>
</template>
