<template name="mainPageSystemsWidget">
    <table class="striped highlight" style="max-width: 30em; margin-left: auto; margin-right: auto">
        <thead class="">
          <th data-field="name" class="">
              System
          </th>
          <th data-field="CMGR" class="center">
              CMGR [$]
          </th>
          <th data-field="Lifetime" class="center">
            Months
          </th>
          <th data-field="rating/score" class="center">
              Rating
          </th>
        </thead>

        <!-- 5 top rated systems-->
        {{#each systems}}
        <tr class="">
            <td class="">
                {{_id}}
            </td>
            <td class="center">
              {{#if calculatable.RATING.vector.GR.monthlyGrowthD}}
                {{readableN calculatable.RATING.vector.GR.monthlyGrowthD 1}}%
              {{/if}}
            </td>
            <td class="center">
               {{#if calculatable.RATING.vector.GR.months}}
                {{readableN calculatable.RATING.vector.GR.months 0}}
              {{/if}}
            </td>
            <td class="center">
                {{readableN calculatable.RATING.sum 1}}
            </td>
        </tr>
        {{/each}}
    </table>
</template>

<template name="mainPageCrowdasalesWidget">
    <h5><a href="/radar#hot">Active Crowdsales</a></h5>
    {{#each activeCrowdsales}}
      {{> cgLinkToSystemCard this }}
    {{/each}}
</template>

<template name="main">
    <div class="row center-align">
        <div class="">
            <br>
            <h2>Blockchains Grow Here</h2>
            <br>
            <h5>{{usersCount}} people are open to invest in {{coinsCount}} groundbreaking systems</h5>
        </div>
    </div>
    {{> mainPageSystemsWidget}}
    <br>
    <br>
    <div class="row center-align">
      <a style="margin: 12px; border-radius: 3px;" class="blue waves-effect waves-light btn" href="/rating">Start Investing</a>
      <a style="margin: 12px; border-radius: 3px;" class="disabled green waves-effect waves-light btn" href="/listing">Attract Investments</a>
    </div>
    <br>
    <div class="row center-align _flexbox">
        <div class="col s12 m6 l4 center valign" style="padding:10px">
            <h5><a class="btn large" href="/tracking">Cybernomics Cap</a></h5>
            <div class="card markt">
                {{#if capUsd }}
                <p>
                    <span class="enlarge">$&nbsp;{{readableN capUsd
 0}}</span>
                    <br> {{#if capUsdDailyChange}}

                    <span class="{{greenRedNumber capUsdDailyChange}}">
            {{percentsToTextUpDown capUsdDailyChange 4}}</span> {{else}} &nbsp; {{/if}}
                </p>
                {{/if}}{{#if capBtc}}
                <p>
                    <span class="enlarge">Ƀ&nbsp;{{readableN capBtc 0}}</span>
                    <br> {{#if capBtcDailyChange}}

                    <span class="{{greenRedNumber capBtcDailyChange}}">
            {{percentsToTextUpDown capBtcDailyChange 4}}</span> {{else}}&nbsp; {{/if}}
                </p>
                {{/if}}
            </div>
        </div>



        <div class="col s12 m6 l4 center valign" style="padding:10px">
            {{> mainPageCrowdasalesWidget}}
        </div>
        <div class="col s12 m6 l4 center valign" style="padding:10px">
            <h4>Funds</h4>
            <p>Section is under construction :)</p>
        </div>
    </div>

</template>
