<template name="mainPageSystemsWidget">
  <div class="row center-align">
    <div class="col offset-l3 l2">
      System
    </div>
    <div class="col l2">
      CMGR in $
    </div>
    <div class="col l2">
      cyber•Rating
    </div>

    <!-- 5 top rated systems-->
    {{#each systems}}
    <div class="row no-bottom-margin">
      <div class="col offset-l3 l2">
        {{_id}}
      </div>
      <div class="col l2">
        {{#if calculatable.RATING.vector.GR.monthlyGrowthD}}
        {{readableN calculatable.RATING.vector.GR.monthlyGrowthD 1}}% during {{readableN calculatable.RATING.vector.GR.months 0}} months
        {{else}}&nbsp;
        {{/if}}
      </div>
      <div class="col l2">

        {{readableN calculatable.RATING.sum 1}}
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="mainPageCrowdasalesWidget">
  <h4>Active Crowdsales</h4>
  {{#each activeCrowdsales}}
  <a class="no-wrap" href={{pathFor  '/system/:name_' name_=(_toUnderscores _id)}} style='margin-right: 12px' >
    {{> cgSystemLogo data=this style="width:20px; height: 20px;" }}{{_id}}
  </a>
  {{/each}}
</template>

<template name="main">
  {{log cap}}
  <div class="row center-align">
    <div class="col l12">
      <br>
      <h2>Blockchains Grow Here</h2>
      <br>
      <h5>{{usersCount}} people are open to invest in {{coinsCount}} groundbreaking systems</h5>
    </div>
  </div>
  {{> mainPageSystemsWidget}}
  <br>
  <br>
  <div class="row center-align">
    <div class="col offset-l3 l3">
      <a class="blue waves-effect waves-light btn login-button" href="/rating">Start Investing</a>
    </div>
    <div class="col l3">
      <a class="green waves-effect waves-light btn login-button" href="/listing">Attract Investments</a>
    </div>
  </div>
  <br>
  <div class="row center-align">
    <div class="col l4">
      <h4>Cybernomics Cap</h4>
      <p>$ {{readableN cap_usd 0}} (yesterday is {{readableN cap_usd_yesterday 0}})</p>
    </div>
    <div class="col l4">
      {{> mainPageCrowdasalesWidget}}
    </div>
    <div class="col l4">
      <h4>Funds</h4>
      <p>Section is under construction :)</p>
    </div>
  </div>

  </template>
