<template name="main">
  <div class="row center-align">
    <div class="col l12">
      <br>
      <h2>Where Blockchains Grow</h2>
      <br>
      <h5>150 people are open to invest in 130 groundbreaking systems</h5>
    </div>
  </div>
  <div class="row center-align">
    <div class="col offset-l3 l2">
      System
    </div>
    <div class="col l2">
      CMGR in $
    </div>
    <div class="col l2">
      cyber•Rating
    </div>
    <!-- 5 top rated systems-->
    <div class="col offset-l3 l2">
      Ethereum
    </div>
    <div class="col l2">
      22.5 % during 18 months
    </div>
    <div class="col l2">
      3.8
    </div>
  </div>
  <br>
  <br>
  <div class="row center-align">
    <div class="col offset-l3 l3">
      <a class="blue waves-effect waves-light btn login-button">Start Investing</a>
    </div>
    <div class="col l3">
      <a class="green waves-effect waves-light btn login-button">Attract Investments</a>
    </div>
  </div>
  <br>
  <div class="row center-align">
    <div class="col l4">
      <p>Cybernomics Cap</p>
      <p>$ 6 567 767 +7%</p>
    </div>
    <div class="col l4">
      <p>Active Crowdsales</p>
      <p>Lisk ...</p>
    </div>
    <div class="col l4">
      <p>People Behind</p>
      <p>5 самых фоловенных чуваков</p>
    </div>
  </div>

  </template>
