<!-- originally created for cyber.fund project-->
<template name="radarCard">

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center-align">
                {{> cgSystemLogo data=this style="width:150px; height: 150px;  margin:24px auto;"}}
            </div>
            <div class="card-title black-text center-align"
                 style="font-weight: 700">{{system}}</div>
            <div class="card-content">

                <div class="left" style="margin-right: 12px;">
                    {{#if isNowBetween crowdsales.start_date crowdsales.end_date  "D/M/YYYY"}} {{! active}}
                        <strong>Days
                            left: {{daysLeft crowdsales.end_date "D/M/YYYY"}}</strong>
                    {{/if}}
                    {{#if isAfterNow crowdsales.start_date  "D/M/YYYY"}} {{! upcoming}}
                        <strong>Days
                            left: {{daysLeft crowdsales.start_date "D/M/YYYY"}}</strong>
                    {{/if}}
                </div>
                <br/><br/>

                <div style="min-height: 2em">{{descriptions.headline}}
                    &nbsp;</div>
                <div style="display: inline-block">
                    {{#if isBeforeNow crowdsales.end_date  "D/M/YYYY"}} {{! past}}
                        <strong>Tokens sold:</strong>{{crowdsales.tokens_sold}}
                    {{/if}}
                    {{#if isNowBetween crowdsales.start_date crowdsales.end_date  "D/M/YYYY"}} {{! past}}
                        <strong>Tokens sold:</strong>{{crowdsales.tokens_sold}}
                    {{/if}}

                    <a href="{{crowdsales.funding_tems}}" target="_blank">
                        Funding
                        terms </a>

                </div>
            </div>
            {{#if crowdsales}}
                {{#if isAfterNow crowdsales.end_date 'D/MM/YYYY'}}
                    <div class="card-action">
                        <a href="{{crowdsales.funding_tems}}" target="_blank">Funding
                            terms </a>
                    </div>
                {{/if}}

                {{#if isNowBetween crowdsales.start_date crowdsales.end_date  "D/M/YYYY"}}
                    <div class="card-action">
                        <a href="{{crowdsales.funding_url}}" target="_blank">Invest</a>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>