<!-- originally created for cyber.fund project-->
<template name="radarCard">

  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image"><span>
        {{> cgSystemLogo data=this style="width:150px;"}}
        <span class="card-title black-text">{{system}}</span></span>
      </div>
      <div class="card-content">
        <div><p>Start date: {{crowdsales.start_date}}</p>

          <p>End date: {{crowdsales.end_date}}</p></div>
        <p>{{descriptions.summary}}</p>
      </div>
      {{#if crowdsales}}
        {{#if isAfterNow crowdsales.end_date}}
          <div class="card-action">
            <a href="#">Invest</a>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>