<!-- originally created for cyber.fund project-->
<template name="radarCard">

    <div class="col s12 m6 l4">
        <div class="card">
            <a href="{{pathFor 'System' name_=name_}}">
                <div class="center-align">
                    {{> cgSystemLogo data=this style="width:150px; height: 150px;  margin:24px auto;"}}
                </div>
                <div class="card-title black-text center-align"
                     style="font-weight: 700">{{displaySystemName this}}
                </div>

                <div class="black-text"
                     style="height: 4em; text-align: center">{{descriptions.headline}}
                    &nbsp;
                </div>
            </a>

            <div class="card-content">

                {{#if isUpcomingCrowdsale}}
                    <div class="left btn-margin-left">
                        <strong>{{daysLeft crowdsales.start_date }} days
                            left</strong>
                    </div>
                {{/if}}


                {{#if isPastCrowdsale}}
                    <div style="display: inline-block">
                        <strong>Days
                            ago: {{daysPassed crowdsales.end_date}}</strong>
                    </div>
                    <div>
                        {{#if  metrics.cap.btc}}<strong>Current
                            Cap: </strong>{{readableN metrics.cap.btc 0}}
                            Ƀ{{else}}&nbsp;{{/if}}
                    </div>
                    <div>
                        {{#if crowdsales.btc_raised}}<strong>Raised amount:
                        </strong>{{readableN  crowdsales.btc_raised 0}}
                            Ƀ{{else}}&nbsp;{{/if}}
                    </div>
                {{/if}}

                {{#if isActiveCrowdsale}}
                    <div class="left btn-margin-left">
                        <strong>{{daysLeft crowdsales.end_date "D/M/YYYY"}} days
                            left</strong>
                    </div>
                    <div class="right btn-margin-right">
                        {{#if metrics.currently_raised}}
                            <strong>Currently
                                raised: </strong>{{readableN metrics.currently_raised 1}} Ƀ
                        {{/if}}
                    </div>
                {{/if}}
            </div>

            {{#if crowdsales}}
                {{#if not isPastCrowdsale}}
                    <div class="card-action">
                        {{#if isAfterNow crowdsales.end_date}}
                            <a href="{{crowdsales.funding_tems}}"
                               target="_blank">Funding terms </a>
                        {{/if}}
                        {{#if isActiveCrowdsale}}
                            <a href="{{crowdsales.funding_url}}"
                               target="_blank">Invest</a>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}

        </div>
    </div>
</template>
