<template name="atSignupLinkOur">

  <div class="at-signup-link">
    <p>Note:
      If you want to login with email, first you need to
      register.
      Form above only allows logging in via existing account.
    </p><p>
      <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">
        Click here </a> to go to signup page and register email account
    </p>
    <!--p>
      {{preText}}
      <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{linkText}}</a>
      {{suffText}}
    </p-->
  </div>
</template>
