<template name="testMarkets">
  <div class="testMarkets">
    {{#if rows.count}}
    <table>
      <thead>
        <th class="center">
          Market
        </th>

        <th class="center">
          Pair
        </th>
        <th class="center">
          Price, native
        </th>
        <th class="center">
          Price, BTC
        </th>
        <th>
          <span class="nowrap">Price,&nbsp;{{> fiatSelector}}</span>
        </th>
        <th class="center">
          Daily volume, native<!--Ƀ-->
        </th>

      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>
            <a href="{{marketUrlByApiUrl market}}">{{marketNameByApiUrl market}}</a>
          </td>
          <td class="center">{{tokenById quote}}/{{tokenById base}}</td>
          <td class="right-align">{{meaningfulNice4 pricePair}}</td>
          <td class="right-align">{{meaningfulNice4 pricePairBtc}}</td>
          <td class="right-align">{{meaningfulNice4 pricePairFiat}}</td>
          <td class="right-align">{{readableN0 volumePair}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>
