<template name="testMarkets">
  <div class="testMarkets">
    {{#if rows.count}}
    <!--div style="display: inline-block">
      Select currency {{> fiatSelector display='inline'}}
    </div-->

    <table style="max-width: 36em; overflow-x: auto;">
      <thead>
        <th class="center">
          Market
        </th>

        <th class="center">
          Pair
        </th>
        <th class="center">
          Price,{{> fiatSelector display='inline'}}
        </th>
        <th class="center">
          24h Volume
        </th>
        <th class="center">
          Updated
        </th>

      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>
            <a href="{{marketUrlByApiUrl market}}">{{marketNameByApiUrl market}}</a>
          </td>
          <td class="center">{{tokenById quote}}/{{tokenById base}}</td>
          <td class="right-align">{{meaningfulNice4 pricePairFiat}}</td>
          <td class="right-align">{{readableN0 volumePairFiat}}</td>
          <td class="center">{{updateTime timestamp}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>
