<!-- originally created for cyber.fund project-->
<template name="ratingTable">
    <table class="hoverable" align="center">
        <thead>
        <th class="center">System</th>
        <th class="center hide-on-small-and-down">↓ Rating</th>
        <th class="center hide-on-small-and-down">Token</th>
        <th class="center hide-on-small-and-down">Trade</th>
        <th class="center hide-on-med-and-down">Cap in Ƀ</th>
        <th class="center hide-on-med-and-down">7d Change</th>
        <th class="center">Cap in $</th>
        <th class="center">7d Change</th>
        </thead>
        <tbody>
        {{#each rows}}
            <tr style="vertical-align: middle">
                <td class="left-align">
                    {{> hitryImage img_name=img_name}}

                    <span class="enlarge" style="vertical-align: middle">&nbsp;{{_name}}</span>
                </td>

                <td class="center-align hide-on-small-and-down">
                        {{>cfRating rating=rating}}<!--todo: cf-star-rating--></td>

                <td class="center-align hide-on-small-and-down">{{# withTooltip}}
                    <span>{{percentsToText supplyChangePercents.week}}</span>
                    {{#tooltip}}
                        <div>Current supply:
                            <b>{{readableN supply 0}}</b>
                        </div>
                        <div>Absolute change:
                            <b>{{readableN supplyChange.week 0}}</b>
                        </div>
                    {{/tooltip}}
                {{/withTooltip}}</td>

                <td class="center-align hide-on-small-and-down">{{# withTooltip}}
                    <span>{{deviationToText tradeVolumeMedianDeviation.week tradeVolume}}
                    </span>

                    {{#tooltip}}
                        <div>Trade volume (24h):
                            <b>{{readableN tradeVolume 2}}</b>
                            BTC
                        </div>
                        <div>Median deviation:
                            <b>{{readableN tradeVolumeMedianDeviation.week 2}}</b>
                            BTC
                        </div>
                    {{/tooltip}}
                {{/withTooltip}}</td>

                <td class="right-align hide-on-med-and-down">{{# withTooltip}}
                    Ƀ {{readableN cap.btc 0}}
                    {{#if price.btc}}
                        {{#tooltip}}
                            <div>Price per 1 {{_name}}:<br/>
                                <b>Ƀ {{price.btc}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align hide-on-med-and-down">{{# withTooltip}}
                    <span class="{{percentsToClass capChangePercents.week.btc}}">
                        {{percentsToText2 capChangePercents.week.btc}}</span>
                    {{#if capChange.week.btc}}
                        {{#tooltip}}
                            <div>Real change:
                                <b>{{readableN capChange.week.btc 2}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align">{{# withTooltip}}
                    <span class="enlarge">$ {{readableN cap.usd 0}}</span>
                    {{#if price.btc}}
                        {{#tooltip}}
                            <div>Price per 1 {{_name}}:<br/>
                                <b>$ {{price.usd}}</b>
                            </div>
                        {{/tooltip}}
                    {{/if}}
                {{/withTooltip}}</td>

                <td class="right-align">{{#withTooltip}}
                    <span class="{{percentsToClass capChangePercents.week.usd}}">
                        {{percentsToText2 capChangePercents.week.usd}}</span>

                    {{#tooltip}}
                        <div>Real change:
                            <b>{{readableN capChange.week.usd 2}}</b>
                        </div>
                    {{/tooltip}}
                {{/withTooltip}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#if or hasMore evenMore}}
        <div class="center">
            <a class="waves-effect waves-light btn show-more deep-orange">
                <i class="mdi-navigation-expand-more left"></i>
                <i class="mdi-navigation-expand-more right"></i>
                show {{#if evenMore}}even {{/if}}more crap</a>
        </div>
    {{/if}}
    <div style="padding-bottom: 40px"></div>
</template>

<template name="hitryImage">
    <img src="http://cyber.fund/logos/{{img_name}}.png"
         style="width: 30px; height: 30px;vertical-align:middle "
         class="hidden"/>
</template>

<template name="withTooltip">
    <div class="with-tooltip">
        {{> UI.contentBlock}}
    </div>
</template>

<template name="tooltip">
    <div class="tooltip z-depth-1 black white-text">
        {{> UI.contentBlock}}
    </div>
</template>
<!--


	<div tip>
					<div style="line-height: 1.5em; font-size: 1.3em">
						<div>Trade volume (24h): <b>{{absolute | round(2) | readableNumbers}}</b> BTC</div>
						<div>Median deviation: <b>{{deviation | round(2) | readableNumbers}}</b> BTC</div>
					</div>
				</div>
4th: 		deviation="{{model.tradeVolumeMedianDeviation.week}}"
							absolute="{{model.tradeVolume}}"


3rd: 		change="{{model.supplyChange.week}}"
							absolute="{{model.supply}}"
<div style="line-height: 1.5em; font-size: 1.3em"> ---- toolTIP!!!!!!!!
						<div>Current supply: <b>{{absolute | round(2) | readableNumbers}}</b></div>
						<div>Absolute change: <b>{{change | round(2) | readableNumbers}}</b></div>
					</div>


rating here.
	<template>
		<style>
			[value="1"] {
				color: #000000;
			}
			[value="2"] {
				color: #FF1744;
			}
			[value="3"] {
				color: #FF9100;
			}
			[value="4"] {
				color: #FFEA00;
			}
			[value="5"] {
				color: #00E676;
			}
		</style>

		<template repeat="{{i in starsArray}}">
			<span value="{{value}}">✪</span>
		</template>
	</template>

	<script>
		var parseValue = function() {
			// Just create an array of length `value` to iterate over.
			this.starsArray = new Array(parseFloat(this.value) || 0);
		};
		Polymer("cf-star-rating", {
			ready: parseValue,
			valueChanged: parseValue,
		});
	</script>
-->
