<!-- originally created for cyber.fund project-->
<template name="ratingPage">
  <p class="center">cyber
    <span style="color:red">•</span> Fund -
    <a href="https://docs.google.com/presentation/d/1xg3q1BhthccpbYgJUHk4PXRpOo6ESVIDwKBZvynD-sc/pub?start=false&loop=false&delayms=3000&slide=id.p4">
    Investor Presentation
  </a>
  </p>
  {{> ratingTable }}
  <p class="center">
      We filter assets with <a href="https://www.academia.edu/22691395/cyber_Rating_Crypto_Property_Evaluation" target="_blank">cyber • Rating</a> less than 1
  </p>
</template>
