<!-- originally created for cyber.fund project-->
<template name="ratingPageMonthly">
  <p class="center">
    We are hiring frontender <a href="https://github.com/cyberFund/cyber.fund/issues/425">https://github.com/cyberFund/cyber.fund/issues/425</a>.
    Join cyber<span style="color:red">•</span>Fund!
  </p>
  {{> ratingTableMonthly }}
</template>

<!--
to add:
1. metrics.capChangePercents.month.btc
2. metrics.capChangePercents.month.usd
3. metrics.supplyChangePercents.month
4. metrics.supplyChange.month
5. metrics.capChange.month.btc
6. metrics.capChange.month.usd
7. metrics.tradeVolumePrevious.month
-->
