<!-- originally created for cyber.fund project-->
<template name="systemLinksTabs">
    <ul class="tabs">
        {{#if existLinksWith this "Wallet"}}
            <li class="tab  {{#if linksWithTag this "Wallet"}}{{else}}disabled{{/if}}">
                <a href="#tag-wallet">Wallet</a>
            </li>
        {{/if}}
        {{#if existLinksWith this "Exchange"}}
            <li class="tab  {{#if linksWithTag this "Exchange"}}{{else}}disabled{{/if}}">
                <a href="#tag-exchange">Exchange</a>
            </li>
        {{/if}}
        {{#if existLinksWith this "Analytics"}}
            <li class="tab  {{#if linksWithTag this "Analytics"}}{{else}}disabled{{/if}}">
                <a href="#tag-analytics">Analytics</a>
            </li>
        {{/if}}
        {{#if existLinksWith this "Magic"}}
            <li class="tab  {{#if linksWithTag this "Magic"}}{{else}}disabled{{/if}}">
                <a href="#tag-magic">Magic</a>
            </li>
        {{/if}}
        <li class="tab {{#if linksWithoutTags this mainTags}}{{else}}disabled{{/if}}">
            <a href="#tag-other">Other</a>
        </li>
    </ul>
</template>