<!-- originally created for cyber.fund project-->
<template name="layoutMain">
    {{> navbar}}
    <div id="contain-all">
        <div class="w90">
            {{> Template.dynamic template=main}}
        </div>

        <div class="hiddendiv common"></div>
        {{> footer}}
    </div>

</template>
<template name="layoutFullWidth">
    {{> navbar}}
    <div id="contain-all">
        <div class="w100">
            {{> Template.dynamic template=main}}
        </div>

        <div class="hiddendiv common"></div>
        {{> footer}}
    </div>

</template>
