<template name="welcome">
<div id="team" class="team">
<div class="container">
  <div class="row">
      <div class="col l8">
      <span class="white-text"><h1>cyber <span class="red-text">•</span> Fund</h1>
      <h3>Where the World Discovers Blockchain Systems</h3></span>
      <br>
      <br>
      <br>
    </div>
    <div class="col l4">
      <span class="white-text"><h5>Control Your Portfolio
      <p>Follow Your Favourite Cryptocurrencies</p>
      <p>Keep Records of Your Public Keys</p>
      <p>Follow the Best Portfolios</p></h5></span>
      <br>
        {{#if not currentUser}}
            <a class="blue waves-effect waves-light btn login-button">Sign Up with Twitter</a>
        {{/if}}
      {{! > atNavButton text='sign in' }}
    </div>
  </div>
  </div>
  </div>
<div class="container center">
  <br>
  <br>
  <h3>How cyber <span class="red-text">•</span> Fund helps you manage your blockchain portfolio</h3>
  <br>
  <br>
  <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/gGbbawSJ6P0?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
</div>
<div class="container center">
  <br>
  <br>
  <br>
  <h4>Sign up now and your public account will be free forever!</h4>
    {{#if not currentUser}}
        <a class="red waves-effect waves-light btn login-button">Sign Up</a>
    {{/if}}
  {{! > atNavButton text='sign in' }}
  <br>
  <br>
  <br>
  <br>
</div>
<hr>
<br>
<br>
<br>
<div class="container center">
  <h2>Why you’ll love cyber <span class="red-text">•</span> Fund.</h2>
<div class="row">
    <div class="col l4 center">
      <i class="large material-icons deep-orange-text">directions_walk</i>
        <h4>Realtime Valuation</h4>
          <p>We crunch market data on all blockchains and even for
              some
              notable illiquid blockchain assets.</p>
      <i class="large material-icons blue-text">router</i>
        <h4>Scanner</h4>
          <p>We scan all(!) blockchain space for prominent
              crowdfunding and huge deals.</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons yellow-text">directions_run</i>
        <h4>Balance Autoupdate</h4>
        <p>A majority of the blockchains' balances are updated automatically.
        Insert your public address and it will be tracked.</p>
      <i class="large material-icons lime-text">toys</i>
        <h4>Dispatcher</h4>
        <p>We filter the noise so only awesome digital
        assets reach your attention. No scum.
        No kitchen forks. No middleman.</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons green-text">directions_bike</i>
        <h4>Trustless</h4>
        <p>We invest a lot in blockains too, so we care
          about your security. We never touch your private keys.</p>
      <i class="large material-icons pink-text">grade</i>
        <h4>Verifier</h4>
        <p>We make due diligence free. Really. View all of our
        unique 4 years investment experiences.
        Take a look.</p>
    </div>
  </div>
  <br>
  <br>
</div>
<hr>
<div class="container center">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h4>Welcome to cyber <span class="red-text">•</span> Fund!</h4>
  <br>
  <br>
  <br>
    {{#if not currentUser}}
        <a class="green waves-effect waves-light btn login-button">Dive In</a>
    {{/if}}
  {{! > atNavButton text='sign in' }}
  <br>
  <br>
  <br>
  <p class="center"> {{usersCount}} people already joined</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<hr>
<div class="container center">
<div class="row">
<br>
<br>
<h2>For Developers</h2>
<div class="col l6">
<i class="large material-icons yellow-text">stars</i>
    <h4>Rating</h4>
    If you are a developer you can add cryptocurrency or cryptoasset yourself using our opensource Chaingear library.
<p><a class="blue waves-effect waves-light btn" href="http://cybertalks.org/t/rating-listing-of-cryptocurrencies-and-cryptoassets/353" target="blank">Rating listing</a></p>
</div>
    <div class="col l6">
<i class="large material-icons red-text">search</i>
    <h4>Radar</h4>
    You excited about creating or already working on blockchain project you have awesome option to list your project in Radar section of cyber•Fund.
    <p><a class="blue waves-effect waves-light btn" href="http://cybertalks.org/t/radar-listing-of-cryptocurrencies-and-cryptoassets/354" target="blank">Radar listing</a></p>
</div>
</div>
<br>
<br>
<br>
</div>
</template>
