
<template name="trackingTableRow">
<tr style="vertical-align: middle" itemscope itemtype="http://schema.org/Product">
  <td class="right-align hide-on-small-and-down">
    {{sum key 1}}
  </td>
  {{#with value}}
  <td class="left-align">
    <a href="{{pathFor '/system/:name_' name_=(_toUnderscores _id)}}" class="enlarge no-wrap" title="{{descriptions.headline}}">
      {{> cgSystemLogo system=this class="logo-icon"}}
        <span
          class="no-wrap"
          itemprop="name">
          {{displaySystemName this}}
        </span>
    </a>
    <span class="hidden description" itemprop="description">{{descriptions.headline}}</span>
  </td>

  <td class="center">
    {{_usersStarred.length}}
  </td>

  <td class="center">
    <span style="font-size:12px">
      {{descriptions.state}} {{descriptions.system_type}}
      <br> {{consensus.type}} {{consensus.algorithm}}
    </span>
  </td>

  <td class="center-align hide-on-small-and-down">
    {{# withTooltip ttName="tickerTooltip" data=this}}
    <span>{{inflationToText metrics.supplyChangePercents.day}}</span>
    {{/withTooltip}}
  </td>

  <td class="center-align hide-on-small-and-down">
    {{#if tradeVolumeOk metrics.tradeVolume}} {{#withTooltip ttName="tradeTooltip" data=this}}
    <span>{{dailyTradeVolumeToText metrics.tradeVolume metrics.cap.btc false}}</span>

    {{/withTooltip}} {{else}}
    <span>Illiquid</span>
    {{/if}}
  </td>

  <td class="right-align">{{! # withTooltip data=this ttName="itemPropTooltip" }}
    <span>$&nbsp;{{readableN0 metrics.cap.usd}}</span>
    {{#if metrics.price.usd}} {{/if}} {{! /withTooltip}}
  </td>

  <td class="right-align">
    {{meaningful4Si firstPrice.usd}}
  </td>

  <td class="right-align">
    {{meaningful4 currentPrice}}
  </td>
  <td class="center hide-on-med-and-down sorter">
    {{readableN1 calculatable.RATING.vector.GR.monthlyGrowthD}}%
  </td>
  <td class="center hide-on-med-and-down sorter">
    {{readableN0 calculatable.RATING.vector.GR.months}}
  </td>
  <td class="center hide-on-med-and-down">
    {{readableN2 calculatable.RATING.weighted.CS}}
  </td>
  <td class="center hide-on-med-and-down">
    {{readableN2 calculatable.RATING.weighted.LV}}
  </td>
  <td class="center hide-on-med-and-down">
    {{readableN2 calculatable.RATING.weighted.WL}}
  </td>

  {{#if false}}
    <td class="center hide-on-med-and-down">
      {{readableN2 calculatable.RATING.weighted.BR}}
    </td>
  {{/if}}

  <td class="center hide-on-med-and-down">
    {{readableN2 calculatable.RATING.weighted.AM}}
  </td>
  {{#if false}}
    <td class="center hide-on-med-and-down">
      {{readableN2 calculatable.RATING.weighted.GR}}
    </td>
  {{/if}}

  <td class="center-align" itemprop="aggregateRating">
    {{#withTooltip ttName="ratingTooltip" data=calculatable}}
      {{>cfRating rating=calculatable.RATING.sum}}
    {{/withTooltip}}
  </td>
  {{/with}}
</tr>
</template>
