<!-- originally created for cyber.fund project-->
<template name="trackingWidget">
  <div class="card" style="padding:10px">
    <table id="tracking-table" class="hoverable-my" align="center">

      <thead id="fixed-thead" class="fixed-thead z20">
        {{> trackingTableHeader}}
      </thead>

      <thead id="normal-thead">
        {{> trackingTableHeader}}
      </thead>

      <tbody>
        {{#each keyValue rows}}
        {{> trackingTableRow}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div style="padding-bottom: 40px"></div>
</template>
