<!-- originally created for cyber.fund project-->
<template name="commonizingGraph">

</template>
<!--
    passed in params:
     - data set, say we know format.
     - data set type: i.e. daily/ hourly.(or maybe - timestamp extractor..)
     - from; - to
     - color :)
     - set of values (a la cap_btc, price_btc etc)

    algo:
     1. (to - from) / data step => N of points.
     2. starting from 'from', using data step (+ knoweledge of where to take data:
     2.0. push corresponding labels to array
     2.1. build key (nearest key, if using fractional intervals)
     2.2. get value
     2.3. push value to array, if no value - use 'null'
     2.4. no approximations while basic setup won't work.

    subfunctions:
      1. stepping from 'from' to 'to' with step - extract nearest value
       1.0. - no 'nearest' just current, with steps fixed to hour/day.

    redraw/refresh:
     upon changing step - definetely.
     upon changing limits/borders - definitely.

    ui:
     1. control from/to
     2. switch step (hourly/daily) - probably auto, also, we won't keep hourlies for long.
       (week - guaranteed; year - almost guaranteed not to.)
-->