<!-- originally created for cyber.fund project-->
<template name="assetsManager">
    {{#if currentUser}}
        <section id="assets-manager" class="assets-manager card row">
            <h3 class="center">
                Assets List
            </h3>

            {{#if and tresures tresures.length}}
                <div class="assets-table" style="display: table">
                    <div class="row header">
                        <th data-field="id">Account</th>
                        <th data-field="name">Address</th>
                        <th data-field="price">Token</th>
                        <th data-field="price">Balance</th>
                        <th data-field="price">Actions</th>
                    </div>

                    {{#each tresures}}
                        <div class="row asset-id" style="display: table" data-account="{{account}}" data-address="{{address}}">
                            <div>{{account}}</div>
                            <div>{{address}}</div>

                            {{#each values_of assets}}
                                <div class="row">
                                    <div>{{asset}}</div>
                                    <div>{{quantity}}</div>

                                </div>
                            {{/each}}

                            <div>
                                <a class="wave-effect  wave-light btn act-asset act-update-balance">Update
                                    balance</a>
                                <a class="wave-effect wave-light btn act-asset act-remove-asset"
                                       >Remove
                                    asset</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            <div class="row">
                <a class="btn right waves-effect btn-add-asset modal-trigger"
                   href="#modal-add-asset" style="margin-right: 12px">Add Asset</a>
                {{#if and tresures tresures.length}}
                {{else}}
                    <span style="margin-left: 24px">
                    Nothing yet here, try adding something</span>
                {{/if}}
            </div>

            <div id="modal-add-asset" class="modal">
                <div class="modal-content">
                    <h4>Add asset</h4>

                    <form id="add-account-form">
                        <div class="row">
                            <input type="text" name="account"
                                   placeholder="Account">
                        </div>
                        <div class="row">
                            <input type="text" name="address"
                                   placeholder="Address">
                        </div>

                        <div class="row">
                            <a class="btn submit-add-asset  waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Add</a>
                            <a class="modal-action modal-close btn  waves-effect  cancel-add-asset right grey">Cancel</a>

                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-remove-asset" class="modal">
                <div class="modal-content">
                    <h4>Remove asset</h4>

                        {{#if currentAsset}}
                        <div class="row">
                            <p> Are you sure you want to remove {{currentAsset.account}} / {{currentAsset.address}} ?</p>
                        </div>
                        {{/if}}
                        <div class="row">
                            {{#if currentAsset}}
                            <a class="btn submit-remove-asset red waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Remove</a>
                            {{/if}}
                            <a class="modal-action modal-close btn  waves-effect  cancel-add-asset right grey">Cancel</a>

                        </div>
                </div>
            </div>
        </section>

    {{/if}}
</template>

