<template name="ratingTableRow">
  <tr style="vertical-align: middle" itemscope itemtype="http://schema.org/Product">
    <td class="center-align hide-on-small-and-down"> {{! rank}}
      {{sum key 1}}
    </td>
    {{#with value}}
    <td class="left-align" style="position: relative;"> {{! system}}
      <span class="hidden description" itemprop="description">{{descriptions.headline}}</span>
      <a href="{{pathFor '/system/:name_' name_=(_toUnderscores _id)}}"
         class="enlarge nowrap"
         title="{{descriptions.headline}}">
         <span class="nowrap" itemprop="name">
           {{> cgSystemLogo system=this class='logo-logo'}}
         <span style="position: relative">{{displaySystemName this}}
         </span></span>
       </a>

    </td>

    <td class="center-align hide-on-small-and-down"> {{! inflation}}
      {{# withTooltip data=this ttName="t001Tooltip"}}
      <span>{{inflationToText metrics.supplyChangePercents.day}}</span>
       {{/withTooltip}}
    </td>

    <td class="center-align hide-on-small-and-down"> {{! trade}}
      {{#if tradeVolumeOk metrics.tradeVolume}} {{#withTooltip ttName="tradeTooltip" data=this}}
      <span>{{dailyTradeVolumeToText metrics.tradeVolume metrics.cap.btc false}}</span>
      {{/withTooltip}} {{else}}
      <span>{{#withTooltip}} Illiquid {{/withTooltip}}</span>
      {{/if}}
    </td>

    <td class="center hide-on-med-and-down sorter">
      {{readableN1 calculatable.RATING.vector.GR.monthlyGrowthD}}%
    </td>
    <td class="center hide-on-med-and-down sorter">
      {{readableN0 calculatable.RATING.vector.GR.months}}
    </td>

    <td class="right-align">{{# withTooltip ttName="usdPricePerUnitTooltip" data=this}}
      <span class="enlarge">$&nbsp;{{readableN0 metrics.cap.usd}}</span>
      {{/withTooltip}}
    </td>

    <td class="hide-on-small-and-down" style="width: 140px;">
      <div>
        {{! > quickchart system=_id}}
      </div>
    </td>

    <td class="right-align">{{#withTooltip}}
        <span class="{{greenRedNumber metrics.capChangePercents.day.usd}}">
        {{percentsToTextUpDown metrics.capChangePercents.day.usd 2}}</span>
      {{#tooltip}}
      <div>Real change:
        <b>{{readableN2 metrics.capChange.day.usd}} $</b>
      </div>
      {{/tooltip}} {{/withTooltip}}
    </td>

    <td class="center">
      {{#withTooltip }} {{_usersStarred.length}} {{#tooltip}}
      How many users have starred this system
      {{/tooltip}} {{/withTooltip}}
    </td>

    <td class="center-align hide-on-small-and-down" itemprop="aggregateRating" content="{{ratings.rating_cyber}}">
      {{#withTooltip}}
       {{>cfRating rating=calculatable.RATING.sum}}
      {{#tooltip}}
        <span>rating: {{readableN2 calculatable.RATING.sum}}
          <!--p>
            <a href="https://www.academia.edu/22691395/cyber_Rating_Crypto_Property_Evaluation" target="_blank">Methodology Draft</a>
          </p-->
        </span>
      {{/tooltip}}

      {{/withTooltip}}
    </td>
    {{/with}}
  </tr>
</template>
