<template name="decisions">
  <div class="row">
    <div class="col l12">
      <br>
      <h3 class="center">Decisions</h3>
      <br>
      <h5>#0. Genesis Agreement </h5>
      <p><a href="">Full document</a></p>
      <p>Signed by
        <a href="https://keybase.io/21xhipster" target="_blank">Dima Starodubcev</a>,
        <a href="https://keybase.io/cybermonetarist" target="_blank">Vitaly Lvov</a>,
        <a href="https://keybase.io/creator" target="_blank">Kostya Lomashuk</a> and
        <a href="https://keybase.io/mgureva" target="_blank">Marina Guryeva</a>.
      </p>
      <p>
        <a href="https://proofofexistence.com/sign/34668d06bf9cfd0d5177d352f6d6c615676337d6d39c66246ae365462f6cf0da" target="_blank">Proof of existence</a> at Bitcoin block
        <a href="https://www.blocktrail.com/BTC/tx/4716d8fddccb6c1a2c6fa21266ec3646eca992b519736291bd86bb416342340d" target="_blank">382471</a>,
        November 7th 2015, 13:15 GMT
     </p>
      <br>
      <h5>#1. Placement</h5>
      <p><a href="">Full document</a></p>
      <p>Signed by
        <a href="https://keybase.io/21xhipster" target="_blank">Dima Starodubcev</a>,
        <a href="https://keybase.io/cybermonetarist" target="_blank">Vitaly Lvov</a>,
        <a href="https://keybase.io/creator" target="_blank">Kostya Lomashuk</a> and
        <a href="https://keybase.io/mgureva" target="_blank">Marina Guryeva</a>.
      </p>
      <p>
        <a href="https://proofofexistence.com/sign/dc98ab03d16e77db0298b1582b0e46affb602ff7ef075993e275e33e491d885e" target="_blank">Proof of existence</a> at Bitcoin block
        <a href="https://www.blocktrail.com/BTC/tx/6379922a6430aa24fb2809532af5d93b91366795bbafb5f7dbaa23b750f842db" target="_blank">382471</a>,
        November 7th 2015, 13:15 GMT
     </p>
      <br>
      <br>
      <br>
    </div>
  </div>
</template>
