<template name="invest">
  <div class="row">
    <div class="col l12 center">
      <br>
      <h3>cyber <span style="color:red">•</span> Fund</h3>
      <p><a href="">Genesis Agreement</a></p>
      <br>
      <h4>Decentralized Investment Service</h4>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l4 center">
      <h4>0.005 BTC</h4>
      <p>Current price per 1 CFUND token</p>
    </div>
    <div class="col l4 center">
      <h4>10 BTC</h4>
      <p>Already funded by 6 peoples</p>
    </div>
    <div class="col l4 center">
      <h4>300 BTC</h4>
      <p>Current Cap based on amount invested</p>
    </div>
  </div>
  <br>
  <p class="center">Private placement in accordance with <a href="">decision of BoD</a> will be finished </p>
  <h4 class="center">in 35 days</h4>
  <br>
  <div class="row">
    <div class="col l4 center">
      <p>1 BTC <br> is minimal investment</p>
    </div>
    <div class="col l4 center">
      <p>Price is defined based on o</p>
    </div>
    <div class="col l4 center">
      <p>1 000 000 tokens issued <br> using Open Assets Protocol</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>Project Introduction</h4>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>Team</h4>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col l4 center">
        <h4>Dima Starodubcev</h4>
        <p>Architecture</p>
      </div>
      <div class="col l4 center">
        <h4>Vitaly Lvov</h4>
        <p>Data Science</p>
      </div>
      <div class="col l4 center">
        <h4>Marina Guryeva</h4>
        <p>Investments</p>
      </div>
      <div class="col l4 center">
        <h4>Kosta Lomashuk</h4>
        <p>Marketing</p>
      </div>
      <div class="col l4 center">
        <h4>Aleksey Frumin</h4>
        <p>Development</p>
      </div>
      <div class="col l4 center">
        <h4>You</h4>
        <p>Join us on Cybertalks</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>Fund Management</h4>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col l4 center">
      <h4>3% of CFUND tokens</h4>
      <p>Is being sold with 1 bitcoin minimum investment reqirement</p>
    </div>
    <div class="col l4 center">
      <h4>10 bitcoins</h4>
      <p>Already funded by 6 peoples</p>
    </div>
    <div class="col l4 center">
      <h4>300 bitcoins</h4>
      <p>Current Cap based on amount invested </p>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>Fund Allocation</h4>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col l4 center">
      <h4>3% of CFUND tokens</h4>
      <p>Is being sold with 1 bitcoin minimum investment reqirement</p>
    </div>
    <div class="col l4 center">
      <h4>10 bitcoins</h4>
      <p>Already funded by 6 peoples</p>
    </div>
    <div class="col l4 center">
      <h4>300 bitcoins</h4>
      <p>Current Cap based on amount invested </p>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>Token Distribution</h4>
      <br>
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col l4 center">
      <h4>3% of CFUND tokens</h4>
      <p>Is being sold with 1 bitcoin minimum investment reqirement</p>
    </div>
    <div class="col l4 center">
      <h4>10 bitcoins</h4>
      <p>Already funded by 6 peoples</p>
    </div>
    <div class="col l4 center">
      <h4>300 bitcoins</h4>
      <p>Current Cap based on amount invested </p>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col l12 center">
      <br>
      <h4>FAQ</h4>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col l12 center">
      <h3>How to invest?</h3>
    </div>
    <div class="col l4 center">
      <h4>Create Coinprism Account</h4>
      <p>Please, don't send us bitcoins from services that lock your private keys as Coinbase, Circle, etc. Tokens. For simplicity and your convinience we recomend well tested Coinprism wallet</p>
    </div>
    <div class="col l4 center">
      <h4>Send bitcoins from Coinprism to address</h4>
      <p>Your tokens will be sent to address from which bitcoins has been recieved. Once transaction confirmed by Bitcoin network No other conformation is required</p>
    </div>
    <div class="col l4 center">
      <h4>You'll recieve your tokens at 1 January 2016</h4>
      <p>Once placement is finished we will calculate amount of tokens to be distributed</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col l4 center">
      <i class="large material-icons deep-orange-text">directions_walk</i>
      <h4>Internal Value</h4>
      <p>1 month of private acoount cost 1 cyber•Fund token. Services to be extended</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons yellow-text">directions_run</i>
      <h4>Parthership Revenue</h4>
      <p>Sharing partnership revenue from bridges like Shapeshift and referral programms like Coinbase or BitShares</p>
    </div>
    <div class="col l4 center">
      <i class="large material-icons lime-text">directions_bike</i>
      <h4>Protoshares</h4>
      <p>All software cyber•Licensed.<br> Shareholders get 10% from all future protocols and services</p>
    </div>
  </div>
</template>
