<!-- originally created for cyber.fund project-->
<template name="profile">
    <div class="row" style="margin-top: 12px">
        <div class="col s12 m12 l3">
            {{#with user}}
                <div>
                    {{> hitryImage style="vertical-align: middle; margin-top: 12px; width: 100px" img_url=biggerTwitterImg}}
                </div>
                <div>
                    <strong class="enlarge">{{user.profile.name}}</strong>
                </div>
                <div>
                    <strong>Starred</strong>
                </div>
                <div>
                    {{> systemsList1 data=starred style="width: 40px; height: 40px; margin: 0 3px 6px"}}
                </div>
                <div>
                    <strong>Followers</strong>
                </div>
                <div>
                    {{> usersList1 data=followedByUsers style="margin: 0 3px 6px"}}
                </div>
                <div>
                    <strong>Following</strong>
                </div>
                <div>
                    {{> usersList1 data=followingUsers style="margin: 0 3px 6px"}}
                </div>
            {{/with}}
            {{#if ownProfile}}
                {{#if userRegistracionCount}}
                    <div>
                        you are user #{{userRegistracionCount}}
                    </div>
                    {{#if lte userRegistracionCount 100}}
                        <div>
                            we have classified you as group A user
                        </div>
                    {{else}}
                        {{#if lte userRegistracionCount 400}}
                            <div>
                                we have classified you as group B user
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        <div class="col l9 m12 s12">
            {{> assetsManager }}
        </div>

        {{#if currentUser}}
            {{#if not ownProfile}}
                <div class="fixed-action-btn"
                     style="bottom: 24px; right: 24px;">
                    {{#if following}}
                        <a class="btn-floating btn-large btn-unfollow blue"
                           title="Unfollow">
                            <i class="large material-icons">thumb_down</i>
                        </a>
                    {{else}}
                        <a class="btn-floating btn-large btn-follow green"
                           title="Follow">
                            <i class="large material-icons">thumb_up</i>
                        </a>
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>
