<!-- originally created for cyber.fund project-->
<template name="profile">
    <div class="row" style="margin-top: 12px">
        <div itemscope itemtype="http://schema.org/Person" class="col s12 m12 l3">
            {{#with user}}
                <div>
                    {{> hitryImage style="vertical-align: middle; margin-top: 12px; max-width: 100%" img_url=biggerTwitterImg}}
                </div>
                <div>
                    <h4 itemprop="name">{{profile.name}}</h4>
                </div>
                <div class="grey-text">
                    <a class="grey-text"
                       href="https://twitter.com/@{{profile.twitterName}}"><span itemprop="alternateName">@{{profile.twitterName}}</span></a>

                    <div>Joined on {{dateFormat createdAt "Do MMM, YYYY"}}</div>
                </div>
                <div>
                    <h5>Starred</h5>
                </div>
                <div>
                    {{> systemsList1 data=starred style="width: 40px; height: 40px; margin: 0 3px 6px"}}
                </div>
                <div>
                    <h5>Followers</h5>
                </div>
                <div>
                    {{> usersList1 data=followedByUsers style="margin: 0 3px 6px"}}
                </div>
                <div>
                    <h5>Following</h5>
                </div>
                <div>
                    {{> usersList1 data=followingUsers style="margin: 0 3px 6px"}}
                </div>

            {{/with}}
            {{#if ownProfile}}
                {{#if userRegistracionCount}}
                    <div>
                        <br>
                        You are user #{{userRegistracionCount}}
                    </div>
                    {{#if lte userRegistracionCount 100}}
                        <div>
                            We have classified you as group A user
                        </div>
                    {{else}}
                        {{#if lte userRegistracionCount 400}}
                            <div>
                                We have classified you as group B user
                            </div>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if ownProfile}}
                {{> atNavButton}}
            {{/if}}
        </div>
        <div class="col l9 m12 s12">
            {{> assetsManager }}
        </div>

        {{! #if currentUser}}
            {{#if not ownProfile}}
                <div class="fixed-action-btn"
                     style="bottom: 24px; right: 24px;">
                    {{#if following}}
                        <a class="btn-floating btn-large btn-unfollow blue"
                           title="Unfollow">
                            <i class="large material-icons">thumb_down</i>
                        </a>
                    {{else}}
                        <a class="btn-floating btn-large btn-follow green"
                           title="Follow">
                            <i class="large material-icons">thumb_up</i>
                        </a>
                    {{/if}}
                </div>
            {{/if}}
        {{! /if}}
    </div>
</template>
