<!-- originally created for cyber.fund project-->
<template name="radarPage">
    <div class="row">
      <div>
      </div>

      <h4>Active Crowd Investments</h4>
      {{#each crowdsale}}
        {{#if isNowBetween crowdsales.start_date crowdsales.end_date  "D/M/YYYY"}}
          {{> radarCard this}}
          {{/if}}
      {{/each}}
    </div>
    <div class="row">
      <h4>Upcoming Crowd Investments</h4>
      {{#each crowdsale}}
        {{#if isAfterNow crowdsales.start_date  "D/M/YYYY"}}
          {{> radarCard this}}
        {{/if}}
      {{/each}}
    </div>
    <div class="row">
      <h4>Past Crwod Investments</h4>
      {{#each crowdsale}}
        {{#if isBeforeNow crowdsales.end_date  "D/M/YYYY"}}
          {{> radarCard this}}
        {{/if}}
      {{/each}}
    </div>

</template>
