<!-- originally created for cyber.fund project-->
<template name="radarPage">

    {{#if crowdsaleActive}}
    <div class="row">
        <h4 class="center">Active Crowdsales</h4>
        {{#each crowdsaleActive}}
            {{#if isNowBetween crowdsales.start_date crowdsales.end_date}}
                {{> radarCard this}}
            {{/if}}
        {{/each}}
    </div>
    {{/if}}

    {{#if crowdsaleUpcoming}}
    <div class="row">
        <h4 class="center">Upcoming Crowdsales</h4>
        {{#each crowdsaleUpcoming}}
            {{> radarCard this}}
        {{/each}}
    </div>
    {{/if}}

    {{#if projects}}
    <div class="row">
        <h4 class="center">Anticipated Projects</h4>
        {{#each project}}
            {{> projectCard this}}
        {{/each}}
    </div>
   {{/if}}

    {{#if crowdsalePast}}
    <div class="row">
        <h4 class="center">Successful Crowdsales</h4>
        {{#each crowdsalePast}}
            {{> radarCard this}}
        {{/each}}
    </div>
    {{/if}}

    <div class="center">
        <div class="row">
            <br>
            <br>

            <h2>Free Services For Ingenious Inventors</h2>
            <br>

            <p>If you excited about creating or already working on a blockchain
                project you have awesome free option to list your project in
                cyber•Fund's Radar.</p>
            <br>

            <div class="col l4">
                <i class="large material-icons yellow-text">school</i>
                <h5>Due Diligence</h5>
            </div>
            <div class="col l4">
                <i class="large material-icons lime-text">group</i>
                <h5>Engaged Audience</h5>
            </div>
            <div class="col l4">
                <i class="large material-icons pink-text">whatshot</i>
                <h5>Blockchain Reporting</h5>
            </div>
            <div class="col l12">
                <br>
                <br>
                <br>
                <h5><a class="green waves-effect waves-light btn-large"
                       href="http://cybertalks.org/t/radar-listing-of-cryptocurrencies-and-cryptoassets/354"
                       target="blank">Get Listed !</a></h5>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </div>
</template>
