<!-- originally created for cyber.fund project-->
<template name="ratingPage">
    <table>
        <thead>
        <th>a</th>
        <th>b</th>
        </thead>
        <tbody>
        <tr>
            <td>oo
            </td>
            <td>b</td>
        </tr>
        </tbody>
    </table>
    <nav class="grey lighten-3">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input id="search" type="search"
                           required>
                    <label for="search"><i
                            class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>
        </div>

    </nav>
</template>