@import "../../../node_modules/material-design-lite/src/color-definitions";
//$color-primary: rgb(239, 154, 154) !default;
//$color-primary-dark: rgb(200, 200, 80) !default;
//$color-accent: $palette-purple-700 !default;
@import "./mdl_main";
/* PLEASE READ */
/*
the reason behind not using inline styles in react components are:
1) they can become complex
2) they make component code non-readable
3) it is very hard to apply responsive styles
the reason for not using independent style file for every component:
meteor-webpack does not support importing css or html in js. So all css dependencies must be listed in
separate file which can become unmaintainable.
This is the reason for using main.scss for everything (temprorary?)
*/
/* ALSO
using !important everywhere because currently mdl-react links styles using <style> tag, which overrides everything IIRC
this solution is temporary
*/

/* MAIN */
body {
    margin: 0;
}
// main content were not horyzontally aligned
.mdl-layout__content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* UTILITIES */
// component aligment
.left {
  float: left;
}
.right {
  float: right;
}
// text manipulation
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.enlarge { // TODO: delete this class?
  font-size: 136%;
}
.clear, .clear-fix{
  clear: both;
}
.red-text, .text-red {
  color: #F44336;
}
.green-text, .text-green {
  color: #4CAF50;
}

// adds animated shadow effect on hover
.hover-shadow {
  transition: box-shadow .25s;
  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

// problem: footer were displayed as it is outside of .mdl-layout and had display: static
// but no such styles were applied to actual tag. Very strange.
.mdl-layout__inner-container{
  height: auto !important;
}

/* HEADER */

// search icon were out of line but the element itself were fine
[for="textfield-Searchforcoin"] {
  // .material-icons
  // line-height: 32px !important;
  bottom: 16px !important;
}

/* FOOTER */

// footer columns were 33% width in tablet mode,
// but there were 4 of them
@media screen and (min-width: 760px) {
  .mdl-mega-footer--drop-down-section, .mdl-mega-footer__drop-down-section {
      width: 25% !important;
  }
  .mdl-mega-footer--drop-down-section:nth-child(3), .mdl-mega-footer__drop-down-section:nth-child(3) {
      float: left !important;
  }
}


/* Tables */
// problem: on small screens table cells are too wide
@media (max-width: 375px){
    .table {// make table horyzontally scrollable
        overflow: auto !important;
    }
    // make table cells less wide
    .mdl-data-table td, .mdl-data-table th {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

// super wide screen styles
@media screen and (min-width: 1921px) {
    // navigation bar, content and footer
    .mdl-layout__header-row,
    .mdl-layout__content,
    .mdl-mega-footer__middle-section,
    .mdl-mega-footer__bottom-section {
        max-width: 1922px;
        margin: 0 auto;
    }// drawer button need to be repositioned
    .mdl-layout__drawer-button {
        left: 25%;
    }
}
// this makes youtube embed iframe responsive
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
    iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}
/**** INDEX PAGE ****/
#IndexPage {
    //margin: auto;
}

/**** RADAR PAGE ****/
#RadarPage {
    .mdl-card {
        // CrowdsaleCard have bunch of paragraphs and margin makes card to tall
        p { margin-bottom: 0; }
        // same as previous
        .mdl-card__supporting-text {
            padding-top: 5px;
        }
    }
}
