ul.dapps-list {
  list-style: none;
}

ul.dapps-list > li {
  display: inline-block;
 /* padding: 6px 12px; */
 /* margin: 6px 9px; */
 /* width: 220px;*/
}

.push_down {
   top: 250px;
  right: 12px;
}

.card.markt {
  height: 14em;
}

.card.markt h5{
  margin-bottom: 3.4em;
}
