<Template name="systemStarredBy">
  {{#if and _usersStarred _usersStarred.length}}

  <div id="users-starred" class="center">
    <h5 style="margin-bottom: 3px;" onclick="Session.set('{{key}}', !Session.get('{{key}}'));" title="click to {{#if session key}}hide{{else}}see{{/if}}">
      Starred by {{and _usersStarred _usersStarred.length}} people</h5>
    {{#if session key}}
    <div>
      {{>usersList1 data=(usersListFromIds _usersStarred) class="avatar-round" style="margin: 6px 3px; width=40px; height=40px;"}}
    </div>
    {{/if}}
  </div>
  {{/if}}
</Template>
