{% extends "base.html" %}

{%- block content -%}

<h1>Hi!</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8e9bc3afe792e883d8fe9cd7f9de9176?s=200"></div>
  </div>
  <div class="col-md-8">
    <br>
    <br>
    <p>Happy to meet you!</p>
    <p>My name is Dima Starodubcev and i am co-founder of cyber•Fund. We are in early stage now, but we have a lot of interesting.</a>
  </div>
</div>
<br>

<h1 class="text-center">Help to spread!</h1>
<br>
<div class="g-page" data-href="https://plus.google.com/115892427430681497912"></div>

<br>
<br>
<br>
<div id="products" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">cyber<span style="color:red; position:relative; top:3px;" >•</span>Products for everybody
  <br><small>We will notify you than Beta arrive<small></h1>

  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 text-center">
    <h2>cyber <span style="color:yellow; position:relative; top:3px;">•</span> Wallet</h2>
    </div>
    <div class="col-md-6">
      Easy to use trustless embeddable multisig wallet for any digital property with intelligent adaptive learning engine. Will support 6 core protocols: Colored coins, Counterparty, Next, Ripple, BitsharesX and Ethereum. Cyber•Wallet is the core of any future products.
    </div>
    <div class="col-md-2 text-center">
      <a href="https://trello.com/b/wfkbZ8m6/cyber-wallet" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Check Dev Status</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>

    <div class="row">
    <div class="col-md-4 text-center">
    <h2>cyber <span style="color:blue; position:relative; top:3px;">•</span> Inceptor</h2>
    </div>
    <div class="col-md-6">
      <p>Crowdfunding platform which help cybernetic companies to receive investments in exchange for shares. Cyber•Inceptor is input of cybernetic economy. Entrepreneurs just need to download the paper to the platform and all the community (global brain) will be focused and inspired. Cyber•Inceptor - Automagic evolving of any idea for inventors of 3 millenium.</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="https://trello.com/b/3RBp9SsZ/cyber-inceptor" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Check Dev Status</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>
  <div id="invest" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">Become the core of new generation cybernetic economy</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>Use unique opportunity to join revolutionary global organisation in the very beginning. Cyber•Fund - is new generation distributed cybernetic organization that was born to disrupt any existing industry with global scale artificial intelligence. Cyber•Fund is not about me or you. Cyber•Fund is about us, about everybody.</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/invest" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Invest</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>


{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:page href="https://plus.google.com/{pageId}"></g:page>
{%- endblock -%}
