{% extends "base.html" %}

{%- block content -%}
<h1>Hi!</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8e9bc3afe792e883d8fe9cd7f9de9176?s=200"></div>
  </div>
  <div class="col-md-8">
    <br>
    <br>
    <p>Happy to meet you!</p>
    <p>My name is Dima Starodubcev and i am co-founder of cyber•Fund. We are in early stage now, but we have a lot of interesting.</a>
  </div>
</div>
<br>

<h1 class="text-center">Help to spread!</h1>
<br>
<div class='angellist_embed col-md-offset-3' data-startup_id='389981'>  <a href='https://angel.co/cyber-fund?utm_medium=web&utm_campaign=individual_embed&utm_content=389981'></a></div><script type='text/javascript' src='https://angel.co/cyber-fund/embed/angellist.js'></script>

<br>
<br>
<br>

  <div id="about" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">Explore technology behind</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>That is a whole new world of business opportunities. Cybernetic business framework - big thing for building disruptive planet scale products.</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="http://bit.ly/cyberPaperC" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Read Paper</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>

  <div id="invest" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">Become the core of new generation cybernetic economy</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>Use unique opportunity to join revolutionary global organisation in the very beginning. Cyber•Fund - is new generation distributed cybernetic organization that was born to disrupt any existing industry with global scale artificial intelligence. Cyber•Fund is not about me or you. Cyber•Fund is about us, about everybody.</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/invest" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Invest</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>


{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

{%- endblock -%}
