{% extends "base.html" %}

{%- block content -%}

<h1>Hi!</h1>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8e9bc3afe792e883d8fe9cd7f9de9176?s=200"></div>
  </div>
  <div class="col-md-8">
    <br>
    <br>
    <p>Happy to meet you!</p>
    <p>My name is Dima Starodubcev and i am co-founder of cyber•Fund. We are in early stage now, but we have a lot of interesting.</a>
  </div>
</div>
<br>

<h1 class="text-center">Help to spread!</h1>
<br>
<div class="fb-like-box col-md-offset-3 col-md-9" data-href="https://www.facebook.com/cyberfund" data-width="600" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

<br>
<br>
<br>
<div id="products" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">cyber<span style="color:red; position:relative; top:3px;" >•</span>Products for everybody
  <br><small>We will notify you than Beta arrive<small></h1>

  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 text-center">
    <h2>cyber <span style="color:yellow; position:relative; top:3px;">•</span> Wallet</h2>
    </div>
    <div class="col-md-6">
      Easy to use trustless embeddable multisig wallet for any digital property with intelligent adaptive learning engine. Will support 6 core protocols: Colored coins, Counterparty, Next, Ripple, BitsharesX and Ethereum. Cyber•Wallet is the core of any future products.
    </div>
    <div class="col-md-2 text-center">
      <a href="https://trello.com/b/wfkbZ8m6/cyber-wallet" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Check Dev Status</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>

    <div class="row">
    <div class="col-md-4 text-center">
    <h2>cyber <span style="color:green; position:relative; top:3px;">•</span> Pie</h2>
    </div>
    <div class="col-md-6">
      <p>The most intelligent investment portfolio ever existed in one click. Awesome investment tool for those who believe in global brains opportunities. Portfolio is designed to growth faster than Bitcoin! Cyber•Pie is core cyber•Fund product for generating revenues and growthing authority.</p>
    </div>
    <div class="col-md-2 text-center">
      <a href="https://trello.com/b/WKOtb0lN/cyber-pie" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Check Dev Status</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>
  <div id="invest" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">Become the core of new generation cybernetic economy</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>Use unique opportunity to join revolutionary global organisation in the very beginning. Cyber•Fund - is new generation distributed cybernetic organization that was born to disrupt any existing industry with global scale artificial intelligence. Cyber•Fund is not about me or you. Cyber•Fund is about us, about everybody.</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/invest" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Invest</button>
      </a>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>


{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=740845162626410&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%- endblock -%}
