<!DOCTYPE html>
<html>
  <head>
    <title>cyber • Fund</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    {%- if debug -%}
      <!-- Use uncompressed css in dev mode -->
      {%- for css in _css -%}
        <link href="{{ css }}" type="text/css" rel="stylesheet">
      {%- endfor -%}
    {%- else -%}
      <link href="{{ _css or '/css/combined.css' }}" type="text/css" rel="stylesheet">
    {%- endif -%}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style type="text/css">
      .navbar-default
      {
        margin: 0;
      }
      .navbar-brand
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          margin: auto;
          padding: 15px 0px;
      }
      .navbar-right

    </style>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-default" role="navigation" id="top" style="background-color: white;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a class="navbar-brand" href="/">cyber <span style="color: red;">•</span> Fund</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="http://blog.cyber.fund" target="_blank">Blog</a></li>
            <li><a href="http://forum.cyber.fund" target="_blank">Forum</a></li>
            <li><a href="http://paper.cyber.fund" target="_blank">Paper</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/pie">cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie</a></li>
            <li><a href="/wallet">Wallet</a></li>
        </ul>
      </div>
    </nav>
  </header>

    <div class="container">
      {%- block content -%}{%- endblock -%}
    </div>

  </body>
  <footer>
<!--     <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a> -->
  </footer>
</html>

<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<!-- End of Bootstrap -->

<!-- Universal Variable -->
<script>
  window.universal_variable = {{ universal_variable|safe }};
</script>
<!-- End of Universal Variable -->

<!-- Segment.io -->
<script type="text/javascript">
  // Create a queue, but don't obliterate an existing one!
  window.analytics = window.analytics || [];

  // A list of the methods in Analytics.js to stub.
  window.analytics.methods = ['identify', 'group', 'track',
    'page', 'pageview', 'alias', 'ready', 'on', 'once', 'off',
    'trackLink', 'trackForm', 'trackClick', 'trackSubmit'];

  // Define a factory to create stubs. These are placeholders
  // for methods in Analytics.js so that you never have to wait
  // for it to load to actually record data. The `method` is
  // stored as the first argument, so we can replay the data.
  window.analytics.factory = function(method){
    return function(){
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      window.analytics.push(args);
      return window.analytics;
    };
  };

  // For each of our methods, generate a queueing stub.
  for (var i = 0; i < window.analytics.methods.length; i++) {
    var key = window.analytics.methods[i];
    window.analytics[key] = window.analytics.factory(key);
  }

  // Define a method to load Analytics.js from our CDN,
  // and that will be sure to only ever load it once.
  window.analytics.load = function(key){
    if (document.getElementById('analytics-js')) return;

    // Create an async script element based on your key.
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.id = 'analytics-js';
    script.async = true;
    script.src = ('https:' === document.location.protocol
      ? 'https://' : 'http://')
      + 'cdn.segment.io/analytics.js/v1/'
      + key + '/analytics.min.js';

    // Insert our script next to the first script element.
    var first = document.getElementsByTagName('script')[0];
    first.parentNode.insertBefore(script, first);
  };

  // Add a version to keep track of what's in the wild.
  window.analytics.SNIPPET_VERSION = '2.0.9';

  // Load Analytics.js with your key, which will automatically
  // load the tools you've enabled for your account. Boosh!
  window.analytics.load('evm6iw3qq1');

  // Make the first page call to load the integrations. If
  // you'd like to manually name or tag the page, edit or
  // move this call however you'd like.
  window.analytics.page();

analytics.identify(universal_variable.user.user_id, {
  name: universal_variable.user.name,
  email: universal_variable.user.email
});

analytics.track(universal_variable.page.type, {
  domain: universal_variable.page.domain
});

</script>

<!-- End of Segment.io -->

{%- block js -%}{%- endblock -%}

{{ profiler_includes()|safe }}
{%- if debug -%}
{%- else -%}
  <!-- Opentag -->
  {%- if not is_current_user_admin -%}

    {% if host == 'alpha.cyberfund.io' %}

    {%- endif -%}

    <!-- /Opentag-->
  {%- endif -%}
{%- endif -%}
