{% extends "base.html" %}

{%- block content -%}

<style>
.container {min-height: 0;}
</style>

<br>
<h1>What is cyber<span style="color:orange; position:relative; top:3px;">•</span>Shares?</h1>
Cyber•Shares is metaproduct that represents cyber•Fund for doers who believe that cyber•Fund adds significant value to artificial intelligence industry.
Shares give for shareholders:
<ul>
<li>Possibility to earn through growth of capitalization.</li>
<li>Ability to use special features in cyber•Fund products.</li>
<li>Right to make cybernetic decisions.</li>
<li>Motivation to involve into great community to explore and improve groundbreaking technology.</li>
</ul>

<h1>Terms of Genesis Sale Race</h1>
<p>Before making decision about investments to cyber•Shares please read carefully <a href="paper.cyber.fund">cyber•Fund paper</a>  and enclosed Appendix A "Terms of Genesis Sale Race".</p>

<h1>Invest</h1>
<p>Cyber•Shares will be distributed through 4 protocols: Colored Coins, Counterparty, Next, BitsharesX. Every protocol has its own pros and cons, so everybody can choose that fit your needs. After the end of Genesis Sale Race for every sender address will be calculated quantity of purchased shares. For newbies we recommend Coinprism, but if you want to trade so choose Counterparty.
</div>

<div id="preorder" style="background-image: url('/images/data-brain.jpg'); min-height: 600px; background-size: cover;">
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    Buy cyber • Shares
    <br>
    <br>
    Step №1: Choose protocol in which you will receive your cyber • Shares</h1>
  <br>
  <br>
  <div class="container">
  <div class="text-center">
    <div class="col-md-3" style="margin-top:10px">
      <a class="nounderline">
        <button type="button" class="btn btn-warning btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Colored Coin</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/invest" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Counterparty</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/invest" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Next</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/invest" class="nounderline">
         <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>BitsharesX</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
      <br>
      <br>
      <br>
    </div>
    </div>
    <p align="center">
    <img src="/images/white.png" width="200" height="150" alt="" />
    </p>
</div>
</div>
  <!-- start featuresDark -->
  <div id="about" class="container">
  <br>
     <h1 class="text-center">
      <p>2. Step: Create Coinprism account</p>
      (if you have an account please <a href="/colored-invest#now">skip this step</a>)</h1>
    <br>
    <br>
      <h4> <p> Go to <a href="http://coinprism.com" target="_blank">Coinprism</a> click "create a wallet". => Then fill the form and click "create a wallet" again. => Your wallet will be created.</p>
        In <a href="https://www.coinprism.com/account/home" target="_blank">Wallet Overview</a> page you will see your Main address. Main address it is your Public key.</h4>
    <br>
    <p align="center">
    <img src="/images/orange.png" width="200" height="150" alt="" />
    </p>
       </div>
  <!-- end FEATURED section -->
  <!-- Features list -->
<a name="now"><br></a>
<div id="about" class="container">
  <br>
  <h1 class="text-center">
  3. Step: Invest in cyber<span style="color:red; position:relative; top:3px;" >•</span>Fund</a></h1>
  <br>
  <br>
    <h4> <p>Create a wallet on <a href="https://blockchain.info/wallet/new" target="_blank">Blockchain</a>(if you don't have it).</p>
     <p> Send the ammount of bitcoins that you plan to invest in the account on Blockchain wallet. => After that go to <a href="https://blockchain.info/wallet/login" target="_blank">Blockchain wallet</a>. => Click Send Money. => Than in the left column choose transaction type Custom.</p>
    <p> Fill Bitcoin adress <b>3MrGWx7ZPBt7UgttQ6yWvnEYgy1qTeB8J1</b> and the amount of your investment</p>
    <p>Necessarily fill out the form <b>Public note</b>. Put here your coinprism <b>Main address(Public key)</b>.
    Click review payment and send the transaction.</p></h4>
    <br>
    <br>
    <h2 class="text-center">
    Congratulation now you are Part of us!
  </h2>
    <br>
    If you have any problem just contact with us <a href="mailto:lucky@cyber.fund">lucky@cyber.fund</a>
    <br>
    <br>
    </div>
    </div>
     </div class="clear">
  <!-- end FEATURED section -->
  <!-- Features list -->


{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
