{% extends "base.html" %}

{%- block content -%}
<script src="js/jquery.countdown.js"></script>
<style>
.container {min-height: 0;}
a:hover {text-decoration: none;}

@media all and (max-width: 990px) {
  #innovations {
    height: 820px !important;
  }

  #community {
    height: 600px !important;
  }

  #social {
    height: 1050px !important;
  }
}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
.avatar-frame{}
.avatar-frame,.avatar-frame img{
  width: 150px;
  height: 150px;
  -webkit-border-radius: 180px; /* Saf3+, Chrome */
  border-radius: 180px; /* Opera 10.5, IE 9 */
  }
.avatar-text {
  margin-left: 20px;
}

.human-name {
  margin: 0;
}

.human-title {
  margin: 0;
  margin-bottom: 5px;
}

.logo {
  width: 170px;
  height: 170px;
}

</style>

</div>

<div style="background-image: url('/images/planet.jpg'); height: 500px; background-size: cover;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color:white; ; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    cyber <span style="color:yellow">•</span> Shares
  </h1>
  <br>
  <h3 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    Crypto VC disruption by design
  </h3>
  <br>
  <h3 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    cyber•Shares site launched
  </h3>
  <br>
  <div class="col-md-offset-5 col-md-2">
  <a href="http://cybershares.net" class="nounderline target="_blank" ">
    <button type="button" class="btn btn-danger btn-lg btn-block" style="margin-top:10px">WTF?</button>
  </a>
  </div>
</div>

<div id="whatis" class="container">
  <br>
  <br>
  <br>
  <h1 class="text-center">What is cyber <span style="color:red; position:relative; top:3px;">•</span> Fund?</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="#revoproducts"><i style="color:green" class="fa fa-link fa-5x"></i></a>
      <h3>Revolutionary products</h3>
    </div>
    <div class="col-md-4">
      <a href="#community"><i style="color:yellow" class="fa fa-users fa-5x"></i></a>
      <h3>Awesome community</h3>
    </div>
    <div class="col-md-4">
      <a href="#innovations"><i style="color:blue" class="fa fa-line-chart fa-5x"></i></a>
      <h3>Disruptive innovations</h3>
    </div>
  </div>

  </div>
<br>
<br>
<h2 class="text-center">Connecting the dots</h2>
  <br>
  <br>
  <div class="text-center container">
    <div class="col-md-2">
      <img class="logo" src="/images/colored_coins.png">
      <h3>Colored coins
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/maidsafe.png">
      <h3>Maidsafe
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/ethereum.png">
      <h3>Ethereum
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/next.png">
      <h3>Next
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/bitshares.png">
      <h3>Bitshares
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/bitcoin.png">
      <h3>Bitcoin
      </h3>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h3 class="text-center">First distributed investment & development fund</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div id="revoproducts" style="background-image: url('/images/network.jpg'); height: 350px; background-size: cover;">
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">Revolutionary Products</h1>
  <br>
  <br>
  <br>
  <h2 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">Invented to boost Bitcoin & cryptoassets</h2>

</div>


  <!-- start Products -->
  <div id="products" class="container">
  <br>

  <div class="row">
    <div class="col-md-4 text-center">
      <br>
      <br>
      <br>
      <br>
      <h2>cyber <span style="color:yellow; position:relative; top:3px;">•</span> Shares</h2>
      <br>
      <p>Industry of polymorphic decentralized applications</p>
      <br>
      <a target="_blank" href="http:/cybershares.net" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Official site</button>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <br>
      <br>
      <br>
      <h2>cyber <span style="color:green; position:relative; top:3px;">•</span> Wallet</h2>
      <br>
      <p>Manage any cryptoassets in one place with your friends</p>
      <br>
      <a href="http://cybershares.net/wallet" target="_blank" class="nounderline">
        <button type="button" class="btn btn-default btn-lg btn-block" style="margin-top:10px">More</button>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <br>
      <br>
      <br>
      <h2>cyber <span style="color:blue; position:relative; top:3px;">•</span> Pie</h2>
      <br>
      <p>The most intelligent investment portfolio in one click</p>
      <br>
      <a href="/pie" class="nounderline">
        <button type="button" class="btn btn-default btn-lg btn-block" style="margin-top:10px">More</button>
      </a>
    </div>
</div>
  <!-- end Products -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <!-- Dream idea -->
</div>
<div id="community" style="background-image: url('/images/innovations.jpg'); height: 480px; background-size: cover;">
  <br>
  <br>
    <h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
      Awesome Community
    </h1>
  <br>
  <br>
  <a href="http://forum.cyber.fund"><img src="http://forum.cyber.fund/uploads/default/119/8ee1b4e37a3d8314.png" height="200px" width="200px" class="centered" target="_blank"></a>
  <br>
  <h2 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    One place where crypto professionals meet
  </h2>

</div>

  <div id="how" class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <br>
      <h2>Distributed Development</h2>
      <br>
      <p>Open source development is trustless and efficient way to build ingenious anything</p>
      <br>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <h2>Distributed Investments</h2>
      <br>
      <p>Be certain about your investments with automated collaborative consensus</p>
      <br>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <h2>Distributed Marketing</h2>
      <br>
      <p>New generation open digital marketing allow to program people easier than ever</p>
      <br>
    </div>
  </div>
      <div class="row">
      <div class="col-md-offset-1 col-md-2 text-center">
        <a href="http://forum.cyber.fund/users/21xhipster/">
          <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8e9bc3afe792e883d8fe9cd7f9de9176?s=200"></div>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="http://forum.cyber.fund/users/creat0r">
          <div class="avatar-frame"><img src="https://s.gravatar.com/avatar/5092dc6e1b1ed484b6db802076a297da?s=200"></div>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="http://forum.cyber.fund/users/sadovnychyi">
          <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/c64c420648367c4731d652862fb53d0d?s=200"></div>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="http://forum.cyber.fund/users/cybermonetarist">
          <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8abb163b149a6ab73770dce2cb6d52e7?s=200"></div>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="http://forum.cyber.fund/users/prof1983">
          <div class="avatar-frame"><img src="/images/yaroslav_loginov.png"></div>
        </a>
      </div>
    </div>
    <br>
    <br>
  <div class="row">
    <div class="col-md-offset-5 col-md-2">
      <a href="http://forum.cyber.fund" class="nounderline">
          <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Join community</button>
      </a>
    </div>
  </div>
<br>
<br>
<br>

  <!-- End: Dream idea -->

</div>
<div id="innovations" style="background-image: url('/images/ai.jpg'); height: 400px; background-size: cover;">
  <br>
  <br>
<h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">Disruptive Innovations</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="col-md-4" style="margin-top:10px">
      <img src="/images/brain.png" height="120">
      <h3 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
        Global Brain Concept
      <h3>
    </div>
    <div class="col-md-4" style="margin-top:10px">
      <img src="/images/framework.png" height="120">
      <h3 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
        Cybernetic Business Framework
      <h3>
    </div>
    <div class="col-md-4" style="margin-top:10px">
      <img src="/images/kubic.png" height="120">
      <h3 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
        Proof-of-Origin
      <h3>
    </div>
    <br>
  </div>
  <br>
</div>

  <div id="about" class="container">
  <br>
  <div style="float: left;">
    <h1 class="text-center">
      What the hell is going on?
    </h1>
    <br>
    <br>
    <br>
    <br>
    <p>Bitcoin, blockchain and cryptocurrency technology will have tremendous impact on the world economy and personally you. We have gathered all knowledges about what happens in cryptocurrency industry in the opensource and free book: New generation cybernetic economic system. Enjoy and help to improve.<p>
    <br>
    <br>
    <div class="row">
      <div class="text-center col-md-offset-5 col-md-2">
          <a href="http://paper.cyber.fund/en/" class="nounderline">
           <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">Read</button>
          </a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
  </div class="clear">


</div>
<div id="social" style="background-image: url('/images/spaces.jpg'); height: 500px; background-size: cover;">
  <br>
  <br>
  <br>
<h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">Follow us</h1>
  <br>
  <br>
  <br>
    <div class="text-center">
    <div class="col-md-offset-1 col-md-2" style="margin-top:10px">
      <a href="https://www.facebook.com/cyberfund" style="underline:none;">
        <img src="/images/facebook.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For people
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://twitter.com/cyberfundio" style="underline:none;">
        <img src="/images/twitter.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For marketers
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://angel.co/cyber-fund" style="underline:none;">
        <img src="/images/angellist.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For investors
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://plus.google.com/+CyberfundIo" style="underline:none;">
        <img src="/images/gplus.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For entrepreneurs
        </h4>
      </a>
    </div>
    <div class="col-md-2" style="margin-top:10px">
      <a href="https://github.com/cyberFund" style="underline:none;">
        <img src="/images/github.png">
        <h4 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
          For developers
        </h4>
      </a>
    </div>
  </div>
</div>
<div class="text-center-container">
<br>
<br>
<h1 class="text-center">Want to receive cyber updates?</h1>
<br>
<br>
<div id="mc_embed_signup" class="form-inline col-md-offset-4 col-md-4">
  <form
    action="//fund.us9.list-manage.com/subscribe/post?u=f49824401068400521a7f2e46&amp;id=4b527dc688"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
  <div id="mc_embed_signup_scroll" class="form-inline">
    <div class="mc-field-group input-group-lg">
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_f49824401068400521a7f2e46_4b527dc688" tabindex="-1" value="">
    </div>
    <br>
    <br>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success btn-lg btn-block">
    </div>
  </div>
  <br>
  <br>
  <br>
  <h4 class="text-center">We're never spam you<h4>
  <br>
  <br>
  <br>
  </form>
</div>

{%- endblock -%}




<!-- Begin MailChimp Signup Form -->

<!--End mc_embed_signup-->






{%- block js -%}

<script>

function tokenizer(s) {
  return s.split(/,?\s+/);
}

$(document).ready(function() {
  var addrs = ['1EzwoHtiXB4iFwedPr49iywjZn2nnekhoj',
               '3MrGWx7ZPBt7UgttQ6yWvnEYgy1qTeB8J1',
               '3FoLttdpV3UwU24z45hJu7vQe6kz9N2sQd',
               '37xZcHcNsCtfCbqgzuuQzUftdE19M1XdD4',
               '3AcnnYGnucHPWrRLj9h4DzydBivvgq1KU1']
  for (var i = 0; i < addrs.length; i++) {
    $.get('https://blockchain.info/q/addressbalance/' + addrs[i] + '?confirmations=1', function(data) {$('#invested-amount').html(parseFloat($('#invested-amount').html()) + parseInt(data) * 0.00000001);})
  }
});

</script>

{%- endblock -%}
