{% extends "base.html" %}

{%- block content -%}

<style>
.container {min-height: 0;}
</style>

<br>
<h1>What is cyber•Fund?</h1>
Cyber•Fund is the first global brain invented with mission to make cybernetic economy come truth. We are product oriented artificial intelligent network that empower the most intelligent networks with the most ingenious products. We create global brains and make the world more efficient and better.

<h1>What is cyber<span style="color:orange; position:relative; top:3px;">•</span>Shares?</h1>
Cyber•Shares is metaproduct that represents cyber•Fund for doers who believe that cyber•Fund adds significant value to artificial intelligence industry.
Shares give for shareholders:
<ul>
<li>Possibility to earn through growth of capitalization.</li>
<li>Ability to use special features in cyber•Fund products.</li>
<li>Right to make cybernetic decisions.</li>
<li>Motivation to involve into great community to explore and improve groundbreaking technology.</li>
</ul>

<h1>Terms of Genesis Sale Race</h1>
<p>Before making decision about investments to cyber•Shares please read carefully <a href="http://paper.cyber.fund">cyber•Fund paper</a>  and enclosed Appendix A "Terms of Genesis Sale Race".</p>

<h1>Invest</h1>
<p>Cyber•Shares will be distributed through 4 protocols: Colored Coins, Counterparty, Next, BitsharesX. Every protocol has its own pros and cons, so everybody can choose that fit your needs. After the end of Genesis Sale Race for every sender address will be calculated quantity of purchased shares. For newbies we recommend Coinprism, but if you want to trade so choose Counterparty.
</div>

<div id="preorder" style="background-image: url('/images/data-brain.jpg'); min-height: 600px; background-size: cover;">
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);">
    Buy cyber • Shares
    <br>
    <br>
    1. Step: Choose protocol in which you will receive your cyber • Shares</h1>
  <br>
  <br>
  <div class="container">
  <div class="text-center">
    <div class="col-md-3" style="margin-top:10px">
      <a href="/colored#now" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Colored Coin</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/counterparty#now" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Counterparty</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/next#now" class="nounderline">
        <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>Next</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
    <div class="col-md-3" style="margin-top:10px">
      <a href="/bitsharesx#now" class="nounderline">
         <button type="button" class="btn btn-success btn-lg btn-block" style="margin-top:10px">
        <br>
        <h3>BitsharesX</h3>
        <br>
        <br>
        <br>
      </button>
      </a>
    </div>
  </div>
</div>
</div>



{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
