{% extends "base.html" %}

{%- block content -%}

<style>
.container {min-height: 0;}
</style>

<br>
<h1 class="text-center">What is cyber•Fund?</h1>
Cyber•Fund is the first global brain invented with mission to make cybernetic economy come truth. We are product oriented artificial intelligent network that empower the most intelligent networks with the most ingenious products. We create global brains and make the world more efficient and better.

<h1 class="text-center">What is cyber<span style="color:orange; position:relative; top:3px;">•</span>Shares?</h1>
Cyber•Shares is metaproduct that represents cyber•Fund for doers who believe that cyber•Fund adds significant value to artificial intelligence industry.
Shares give for shareholders:
<ul>
<li>Possibility to earn through growth of capitalization.</li>
<li>Ability to use special features in cyber•Fund products.</li>
<li>Right to make cybernetic decisions.</li>
<li>Motivation to involve into great community to explore and improve groundbreaking technology.</li>
</ul>

<h1 class="text-center">Terms of Genesis Sale Race</h1>
<p>Before making decision about investments to cyber•Shares please read carefully <a href="http://paper.cyber.fund">cyber•Fund paper</a>  and enclosed Appendix A "Terms of Genesis Sale Race".</p>

<h1 class="text-center">Invest</h1>
<p>Cyber•Shares initially will be distributed through Colored Coins protocol. After the end of Genesis Sale Race for every sender address will be calculated quantity of purchased shares. Please send bitcoins only from Coinprism address. In case of sending bitcoins from another addresses cyber•Shares will be send to unsupported address and will be lost.</p>
</div>

<div id="preorder" style="background-image: url('/images/invest.png'); min-height: 600px; background-size: cover;">
  <br>
  <br>
  <br>
  <h1 class="text-center">
    Buy cyber • Shares</h1>
    <br>
    <br>
    <div class="container">
    <b><h2>Step 1: Register <a href="https://coinprism.com/signup">Coinprism wallet</a></h2></b>
    <br>
    <b><h2>Step 2: Send any amount of bitcoins you want to invest from Coinprism account to cyber•Fund address: <a href="https://blockchain.info/address/3MrGWx7ZPBt7UgttQ6yWvnEYgy1qTeB8J1">3MrGWx7ZPBt7UgttQ6yWvnEYgy1qTeB8J1</a></h1></b>
    <br>
    <b><h2>Step 3: You will receive your shares in 3 days after the end of Genesis Sale Race (20 November 2014) </h1></b>
    </div>
</div>
</div>



{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
