{% extends "base.html" %}

{%- block content -%}
<br>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Enter cybernetic economy right now! <br> <small>There is no way back</small></h1>

  </div>
</div>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>For everybody</h2>
    <h3>
      <a href="/login/facebook?next_uri=/4people" id="facebook-login-human"><img src="/images/facebook.png" style="height: 100px;"></a></a>
    </h3>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-mr-4 text-center">
    <h2>
      Superagents
    </h2>
  </div>
  <div class="col-md-3 text-center">
    <h3>For developers</h3>
    <h5>
      <a href="/login/github?next_uri=/4devs" id="github-login"><img src="/images/github.png" style="height: 100px;"></a>
    </h5>
  </div>
  <div class="col-md-3 text-center">
    <h3>For entrepreneurs</h3>
    <h5>
      <a target="_blank" href="/login/google?next_uri=/4business"><img src="/images/gplus.png" style="height: 100px;"></a>
    </h5>
  </div>
  <div class="col-md-3 text-center">
    <h3>For investors</h3>
    <h5>
      <a href="/login/angellist?next_uri=/4investors" id="vk-login"><img src="/images/angellist.png" style="height: 100px;"></a>
    </h5>
  </div>
  <div class="col-md-3 text-center">
    <h3>For marketers</h3>
    <h5>
      <a href="/login/twitter?next_uri=/4people" id="google-login-human"><img src="/images/twitter.png" style="height: 100px;"></a>
    </h5>
  </div>

</div>

{%- endblock -%}
