{% extends "base.html" %}

{%- block content -%}
<style type="text/css">
  .container {min-height: 0;}
  .whitebig {color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);}
  .whitesmall {color:white;}
  small {color: white;}
  .logo {width: 150px; height: 150px;}
  .logo-small {width: 70px; height: 70px;}
</style>
</div>
  <div style="background-image: url('/images/question.jpg'); height: 400px; background-size: cover;">
    <div>
        <br>
        <br>
        <br>
        <h1 class="text-center whitebig">Looking a new way to get profit from bitcoins?</h1>
        <br>
        <br>
        <h1 class="text-center whitebig">Invest in cryptocurrency technologies</h1>
    </div>
  </div>
</div>
<br>
<br>
<br>
<h1 class="text-center big">cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie</h1>
<br>
<div class="text-center container">
  <div class="col-md-4">
    <a href="#revoproducts"><i style="color:blue" class="fa fa-pie-chart fa-5x"></i></a>
    <h3>Open-end Fund
      <br>
      <small>Take part in collective investments in to a new tech industry</small>
    </h3>
  </div>
  <div class="col-md-4">
    <a href="#community"><i style="color:green" class="fa fa-line-chart fa-5x"></i></a>
    <h3>Investments in cryptocurrencies
      <br>
      <small>We invest in the most promising cryptocurrencies</small>
    </h3>
  <br>
  <br>
  <br>
  </div>
  <div class="col-md-4">
    <img class="logo-small" src="/images/bitcoin-in-bag.jpg">
    <h3>Profit in bitcoins
      <br>
      <small>Cryptocurrency industry have great potential. It will grow</small>
    </h3>
  </div>
</div>
<br>
<br>
<div style="background-image: url('/images/invest-chart.jpg'); height: 400px; background-size: cover;">
  <div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center whitebig">cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie investment portfolio</h1>
  <br>
  <br>
</div>
</div>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center container">
    <div class="col-md-2">
      <img class="logo" src="/images/bitcoin.png">
      <h3>Bitcoin
        <br>
        <small>30%</small>
        </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/ethereum.png">
      <h3>Ethereum
        <br>
        <small>20%</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/maidsafe.png">
      <h3>MaidSafe
        <br>
        <small>20%</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/next.png">
      <h3>Next
        <br>
        <small>10%</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/ripple.png">
      <h3>Ripple
        <br>
        <small>10%</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/bitshares.png">
      <h3>Bitshares
        <br>
        <small>10%</small>
      </h3>
    </div>
  <br>
  <br>
  </div>
</div>
<br>
<br>
<div style="background-image: url('/images/mechanism4.jpg'); height: 400px; background-size: cover;">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center whitebig">How cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie works?</h1>
  </div>
</div>
<div class="text-center container">
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-4">
    <img class="logo-small" src="/images/bitcoin-piggy.png">
    <h3>You invest bitcoins
      <br>
      <small>Investors deposit in cyber • Pie, and get share (PIE) of collective investment fund</small>
    </h3>
  </div>
  <div class="col-md-4">
    <img class="logo-small" src="/images/crypto-magic.jpg">
    <h3>We manage funds
      <br>
      <small>We combine funds of investors and place it in the most perspective cryptocurrencies and shares of companies which works in crypto industry</small>
    </h3>
  </div>
  <div class="col-md-4">
    <a href="#"><i style="color:green" class="fa fa-thumbs-o-up fa-5x"></i></a>
    <h3>You get profit
      <br>
      <small>You only need to monitor PIE's rate and decide when to take profits</small>
    </h3>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<div style="background-image: url('/images/strawberry.jpg'); height: 400px; background-size: cover;">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center whitebig">Advantages of cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie?</h1>
  </div>
</div>
<div class="text-center container">
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-offset-1 col-md-2">
    <img class="logo-small" src="/images/cube.png">
    <h3>Blockchain transparency
      <br>
      <small>Balances, transactions, investment decisions are public</small>
    </h3>
  </div>
  <div class="col-md-2">
    <a target="_blank" href="https://www.coinprism.info/asset/38KLzX56tNS5nYZPayhJfd52ZRCf6Cf3Cc"><img class="logo-small" src="/images/cyber-pie-asset-link.png"></a>
    <h3>True Digital Asset
      <br>
      <small>Shares of cyber • Pie are true digitall asset, like bitcoin</small>
    </h3>
  </div>
  <div class="col-md-2">
    <a href="#"><i style="color:green" class="fa fa-line-chart fa-5x"></i></a>
    <h3>Always one step ahead
      <br>
      <small>We have most clear vision of cryptoworld to be on top</small>
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo-small" src="/images/free.jpg">
    <h3>Fee only in case of profit
      <br>
      <small>We charge a fee only if the investor makes a profit</small>
    </h3>
  </div>
  <div class="col-md-2">
    <img class="logo-small" src="/images/ethereum.png">
    <h3>Build with Ethereum
      <br>
      <small>Operations will be automated in Ethereum contracts system</small>
    </h3>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<div style="background-image: url('/images/cats-interest.jpg'); height: 500px; background-size: cover;">
  <div class="text-center-container">
  <br>
  <br>
  <h1 class="text-center whitebig">Interested in cyber <span style="color:yellow; position:relative; top:3px;">•</span> Pie?</h1>
  <br>
  <br>
  <br>
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="form-inline">
      <form action="/subscribe" method="post">
        <div class="input-group-lg">
          <input name="email" type="email" class="form-control" placeholder="{% if session.get('subscription') %}{{ session.get('subscription') }}{% else %}Your email{% endif %}"></input>
          <br>
          <br>
        </div>

        <div class="col-md-4"></div>
          <div class="col-md-4">
              <input class="btn btn-success btn-lg btn-block" type="submit" {% if session.get('subscription') %}disabled="disabled"{% endif %} value="Subscribe">
          </div>
        </form>
        <div class="col-md-4"></div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-center whitesmall">We're never spam you<h4>
    </div>
  </div>
<br>
<br>
</div>
{%- endblock -%}
