{% extends "base.html" %}

{%- block content -%}

<style>
.avatar-frame{}
.avatar-frame,.avatar-frame img{
  width: 180px;
  height: 180px;
  -webkit-border-radius: 180px; /* Saf3+, Chrome */
  border-radius: 180px; /* Opera 10.5, IE 9 */
  }
.avatar-text {
  margin-left: 20px;
}

.human-name {
  margin: 0;
}

.human-title {
  margin: 0;
  margin-bottom: 5px;
}
</style>


<div id="team" class="container">
  <!-- End: Features list -->
<br>

<h1 class="text-center">Top superagents</h1>
<br>
<br>

<div class="row">
  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8e9bc3afe792e883d8fe9cd7f9de9176?s=200"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Dima Starodubcev</h3>
    <h3 class="human-title"><small>Architect</small></h3>
    <p class="text-justify small">I believe in unique opportunities of distributed tech. That is the thing that will change not only finance, or only internet... It will change everything! That is next big thing, Holy Grail. Global intelligence.</p>
    <div>
      <a target="_blank" title="Onename" href="https://onename.io/21xhipster"><i class="fa fa-2x fa-bitcoin fa-fw" style="color: blue;"></i></a>
      <a target="_blank" title="Google+" href="//plus.google.com/107455287447035583477/posts"><i class="fa fa-2x fa-google-plus-square fa-fw" style="color: #DF4A32;"></i></a>
      <a target="_blank" title="Github" href="//github.com/21xhipster"><i class="fa fa-2x fa-github fa-fw" style="color: #000000;"></i></a>
      <a target="_blank" title="Twitter" href="//twitter.com/21xhipster"><i class="fa fa-2x fa-twitter fa-fw" style="color: #50ABF1;"></i></a>
      <a target="_blank" title="AngelList" href="//angel.co/21xhipster"><i class="fa fa-2x fa-angellist fa-fw"></i></a>
    </div>
  </div>

  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="https://s.gravatar.com/avatar/5092dc6e1b1ed484b6db802076a297da?s=200"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Konstantin Lomashuk</h3>
    <h3 class="human-title"><small>Cybercreator</small></h3>
    <p class="text-justify small">My goal is rebuild everything around to create new CyberWorld in spirit of Liberty, Truth, Justice, Equality. Change motivation of humanity to find equilibrium</p>
    <div>
      <a target="_blank" title="Onename" href="https://onename.io/21xhipster"><i class="fa fa-2x fa-bitcoin fa-fw" style="color: blue;"></i></a>
      <a target="_blank" title="Google+" href="//google.com/+KonstantinLomashuk"><i class="fa fa-2x fa-google-plus-square fa-fw" style="color: #DF4A32;"></i></a>
      <a target="_blank" title="Facebook" href="//facebook.com/konstantinlomashuk"><i class="fa fa-2x fa-facebook-square fa-fw" style="color: #4760A5;"></i></a>
      <a target="_blank" title="LinkedIn" href="//www.linkedin.com/in/lomashuk"><i class="fa fa-2x fa-linkedin-square fa-fw" style="color: #0076B7;"></i></a>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/c64c420648367c4731d652862fb53d0d?s=200"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Dmitry Sadovnychyi</h3>
    <h3 class="human-title"><small>Cryptoengineer</small></h3>
    <p class="text-justify small">Cryptocurrencies allow developers make impossible things. It's a whole new world up here!</p>
    <div>
      <a target="_blank" title="Google+" href="//google.com/+DmitrySadovnychyi"><i class="fa fa-2x fa-google-plus-square fa-fw" style="color: #DF4A32;"></i></a>
      <a target="_blank" title="Stackoverflow" href="//stackoverflow.com/users/1279005/dmitry-sadovnychyi"><i class="fa fa-2x fa-stack-overflow fa-fw" style="color: #F67A00;"></i></a>
      <a target="_blank" title="LinkedIn" href="//linkedin.com/in/sadovnychyi"><i class="fa fa-2x fa-linkedin-square fa-fw" style="color: #0076B7;"></i></a>
      <a target="_blank" title="Github" href="//github.com/sadovnychyi"><i class="fa fa-2x fa-github fa-fw" style="color: #000000;"></i></a>
      <a target="_blank" title="Instagram" href="//instagram.com/sadovnychyi"><i class="fa fa-2x fa-instagram fa-fw" style="color: #946345;"></i></a>
      <a target="_blank" title="Facebook" href="//facebook.com/sadovnychyid"><i class="fa fa-2x fa-facebook-square fa-fw" style="color: #4760A5;"></i></a>
      <a target="_blank" title="Foursquare" href="//foursquare.com/sadovnychyi"><i class="fa fa-2x fa-foursquare fa-fw" style="color: #35B4E9;"></i></a>
      <a target="_blank" title="Twitter" href="//twitter.com/sadovnychyi"><i class="fa fa-2x fa-twitter fa-fw" style="color: #50ABF1;"></i></a>
    </div>
  </div>
  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/8abb163b149a6ab73770dce2cb6d52e7?s=200"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Vitaly Lvov</h3>
    <h3 class="human-title"><small>Cryptomonetaryst</small></h3>
    <p class="text-justify small">I really happy that i live on the edge then our world is changing so fast! Cybereconomy in so early stages and give the reason for tremendous creativity opportunities. Tech that brings Bitcoin for a world - very big step for more open and safety ways of trustless information and this tech can change world to better. I am happy to be the part of it</p>
    <div>
      <a target="_blank" title="Google+" href="//google.com/+VitalyLvov"><i class="fa fa-2x fa-google-plus-square fa-fw" style="color: #DF4A32;"></i></a>
      <a target="_blank" title="Facebook" href="//facebook.com/vitaly.lvov"><i class="fa fa-2x fa-facebook-square fa-fw" style="color: #4760A5;"></i></a>
      <a target="_blank" title="Twitter" href="//twitter.com/VitalyLvov"><i class="fa fa-2x fa-twitter fa-fw" style="color: #50ABF1;"></i></a>
      <a target="_blank" title="LinkedIn" href="http://www.linkedin.com/profile/view?id=43244409&locale=en_US&trk=tyah&trkInfo=tarId%3A1396246100128%2Ctas%3Alvov%2Cidx%3A1-1-1"><i class="fa fa-2x fa-linkedin-square fa-fw" style="color: #0076B7;"></i></a>
    </div>
  </div>
</div>

<br><br>

<div class="row">

  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="http://www.gravatar.com/avatar/affd7ca9ec2728caad24f8e7ddc8f29e?s=200"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Vladimir Savin</h3>
    <h3 class="human-title"><small>cyberMiner</small></h3>
    <p class="text-justify small">Hard - is my passion! In the very beginning Bitcoin mining was just possibility to apply my knowledges and get a snatch. But it was fun time! Now i know that this is something more... ! Mining tech give opportunity for a whole industry and brings brand new pack of engineering tasks. I want to be part of it. Make here more professional, transparent and profitable.</p>
    <div>
      <a target="_blank" title="Google+" href="//plus.google.com/115846309940585405997"><i class="fa fa-2x fa-google-plus-square fa-fw" style="color: #DF4A32;"></i></a>
      <a target="_blank" title="Facebook" href="//facebook.com/vladimir.savin.167"><i class="fa fa-2x fa-facebook-square fa-fw" style="color: #4760A5;"></i></a>
    </div>
  </div>

  <div class="col-md-2 text-center">
    <div class="avatar-frame"><img src="/images/nextpartner.gif" style="width: 200px; height: 200px;"></div>
  </div>
  <div class="col-md-4">
    <h3 class="human-name">Join us!</h3>
    <h3 class="human-title"><small>Invent your role!</small></h3>
    <p class="text-justify small">Everybody welcome to join cyber•Fund distributed team</p>
    <a href="/login" class="nounderline">
      <button type="button" class="btn btn-danger btn-lg btn-block" style="margin-top:10px">
        Become a superagent
      </button>
    </a>
  </div>

</div>


{%- endblock -%}
