{% extends "base.html" %}

{%- block content -%}
<style type="text/css">
  .container {min-height: 0;}
  .whitebig {color:white; -webkit-text-stroke-width: 1px; text-shadow: 3px 0px 7px rgba(0, 0, 0, 1);}
  .whitesmall {color:white;}
  small {color: white;}
  .logo {width: 150px; height: 150px;}
</style>
</div>
<div style="background-image: url('/images/imagine.jpg'); height: 700px; background-size: cover;">
<div>
  <div class="col-md-12 text-center">
    <br>
    <br>
    <br>
    <h3 class="text-center whitebig">
      Do you check money, id and keys leaving your home?
    </h3>
    <br>
    <br>
    <br>
    <br>
    <h4 class="text-center whitebig">
      Shift your imagination
    </h4>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center whitebig">
      You can have everything, everywhere in your head
    </h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center whitebig">cyber <span style="color:lime; position:relative; top:3px;">•</span> Wallet</h1>
  <br>
  <br>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center container">
    <div class="col-md-4">
      <a href="#revoproducts"><i style="color:green" class="fa fa-money fa-5x"></i></a>
      <h2>Wallet
        <br>
        <small>Manage any cryptoassets in one place</small>
      </h2>
    </div>
    <div class="col-md-4">
      <a href="#community"><i style="color:yellow" class="fa fa-male fa-5x"></i></a>
      <h2>Passport
        <br>
        <small>Manage your online identities. Private and Public. Choice is yours</small>
      </h2>
    </div>
    <div class="col-md-4">
      <a href="#innovations"><i style="color:blue" class="fa fa-key fa-5x"></i></a>
      <h2>Keys
        <br>
        <small>Stuck to manage hundreds passwords? Keep them safe</small>
      </h2>
    </div>
  </div>
<br>
<br>
<div class="container">
  <br>
  <br>
  <h1 class="text-center">Supported asset protocols</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="col-md-2">
      <img class="logo" src="/images/colored_coins.png">
      <h3>Colored coins
        <br>
        <small>Early support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/counterparty.png">
      <h3>Counterparty
        <br>
        <small>Early support</small>
        </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/ethereum.png">
      <h3>Ethereum
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/next.png">
      <h3>Next
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/ripple.png">
      <h3>Ripple
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <img class="logo" src="/images/bitshares_x.png">
      <h3>BitsharesX
        <br>
        <small>Future support</small>
      </h3>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="text-center" style="background-image: url('/images/nature_grass.jpg'); height: 440px; background-size: cover;">
    <br>
    <br>
    <br>

    <h1 class="whitebig">Built for better life</h1>
    <br>
    <br>
    <br>

    <div class="col-md-offset-1 col-md-2">
      <i style="color:gold" class="fa fa-globe fa-5x"></i>
      <h3 class="whitebig">Free</h3>
      <h5 class="whitesmall">Forever free for everybody</h5>
    </div>
    <div class="col-md-2">
      <i style="color:hotpink" class="fa fa-thumbs-up fa-5x"></i>
      <h3 class="whitebig">Simple</h3>
      <h5 class="whitesmall">One passphrase for everything. No backups no lock ups</h5>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:red" class="fa fa-lock fa-5x"></i>
      <h3 class="whitebig">Secure</h3>
      <h5 class="whitesmall">You is the bank with 5 level Defence</h5>
    </div>
    <div class="col-md-2">
      <i style="color:greenyellow" class="fa fa-at fa-5x"></i>
      <h3 class="whitebig">Friendly</h3>
      <h5 class="whitesmall">Automagicaly explains you everything</h5>
    </div>
    <div class="col-md-2">
      <i style="color:indigo" class="fa fa-gavel fa-5x"></i>
      <h3 class="whitebig">Reliable</h3>
      <h5 class="whitesmall">Open source from the ground. Trustless reliability</h5>
      </h3>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <br>
  <h1 class="text-center">Available everywhere</h1>
  <br>
  <br>
  <div class="text-center">
    <div class="col-md-2">
      <i style="color:dodgerblue" class="fa fa-globe fa-5x"></i>
      <h3>Web
        <br>
        <small>Early support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:yellowgreen" class="fa fa-android fa-5x"></i>
      <h3>Android
        <br>
        <small>Future support</small>
        </h3>
    </div>
    <div class="col-md-2">
      <i style="color:darkgray" class="fa fa-apple fa-5x"></i>
      <h3>iOS
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:black" class="fa fa-linux fa-5x"></i>
      <h3>Linux
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:darkgray" class="fa fa-apple fa-5x"></i>
      <h3>OS X
        <br>
        <small>Future support</small>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:deepskyblue" class="fa fa-windows fa-5x"></i>
      <h3>Windows
        <br>
        <small>Future support</small>
      </h3>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
  <div class="text-center" style="background-image: url('/images/entrepreneurship.jpg'); height: 440px; background-size: cover;">
    <br>
    <br>
    <br>
    <h1 class="text-center whitesmall">From entrepreneurs to entrepreneurs</h1>
    <br>
    <br>
    <br>
    <div class="col-md-offset-1 col-md-2">
      <i style="color:gold" class="fa fa-tag fa-5x"></i>
      <h3 class="whitebig">Smart tags</h3>
      <h5 class="whitesmall">Easy structure your operations with smart tags</h5>
    </div>
    <div class="col-md-2">
      <i style="color:hotpink" class="fa fa-file-text-o fa-5x"></i>
      <h3 class="whitebig">Smart accounts</h3>
      <h5 class="whitesmall">Accounts that behaves like they should</h5>
      </h3>
    </div>
    <div class="col-md-2">
      <i style="color:red" class="fa fa-tags fa-5x"></i>
      <h3 class="whitebig">Nested tags & accounts</h3>
      <h5 class="whitesmall">Add even more structure</h5>
    </div>
    <div class="col-md-2">
      <i style="color:greenyellow" class="fa fa-tachometer fa-5x"></i>
      <h3 class="whitebig">Reports</h3>
      <h5 class="whitesmall">Simple and powerful</h5>
    </div>
    <div class="col-md-2">
      <i style="color:dodgerblue" class="fa fa-users fa-5x"></i>
      <h3 class="whitebig">Multisig</h3>
      <h5 class="whitesmall">You define risks and workflow logic</h5>
    </div>
  </div>
<br>
</div>
  <div class="text-center container">
    <br>
    <br>
    <br>
    <h1 class="text-center">From developers to developers</h1>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="col-md-4">
        <img src="/images/embed.png" class="logo">
        <h3>Embed in your app
        <br>
        <small>Server free architecture</small>
        </h3>
      </div>
      <div class="col-md-4">
        <img src="/images/web_components.png" class="logo">
        <h3>Web components
        <br>
        <small>Charged with Polymer </small>
        </h3>
      </div>
      <div class="col-md-4">
        <img src="/images/material_design.jpg" class="logo">
        <h3>Material design
        <br>
        <small>Endless and usable creativity</small>
        </h3>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="col-md-4">
        <img src="/images/maidsafe.png" class="logo">
        <h3>MaidSafe
        <br>
        <small>All data stored in MaidSafe network</small>
        </h3>
      </div>
      <div class="col-md-4">
        <img src="/images/namecoin.png" class="logo">
        <h3>Namecoin
        <br>
        <small>All identities stored in Namecoin network</small>
        </h3>
      </div>
      <div class="col-md-4">
        <img src="/images/api.png" class="logo">
        <h3>API
        <br>
        <small>High level Javascript API save your time</small>
        </h3>
      </div>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="text-center" style="background-image: url('/images/button.jpg'); height: 440px; background-size: cover;">
    <br>
    <br>
    <br>
    <h1 class="text-center whitesmall">From marketers to marketers</h1>
    <br>
    <br>
    <br>
    <div class="col-md-4">
      <i style="color:gold" class="fa fa-globe fa-5x"></i>
      <h3 class="whitebig">Global audience</h3>
      <h5 class="whitesmall">Free access to global segmented Bitcoin audience on blockchain</h5>
    </div>
    <div class="col-md-4">
      <i style="color:hotpink" class="fa fa-check fa-5x"></i>
      <h3 class="whitebig">ID you ever dream for</h3>
      <h5 class="whitesmall">Public Key instead of Cookie. Ultimate conversion tracking</h5>
      </h3>
    </div>
    <div class="col-md-4">
      <i style="color:red" class="fa fa-pied-piper-alt fa-5x"></i>
      <h3 class="whitebig">Endless creativity</h3>
      <h5 class="whitesmall">Deliver marketing efforts with digital property right into customers brains</h5>
    </div>
  </div>

{%- endblock -%}
