{% extends "base.html" %}

{%- block content -%}


<style>
.container {min-height: 0;}
</style>

<br>
<h1 class="text-center">
  cyber<span style="color:orange; position:relative; top:3px;">•</span>Wiki</h1>
<br>
</div>

 <!-- start featuresDark -->
  <div id="about" class="container-fluid">
<div lang="en" dir="ltr" class="mw-content-ltr">
<table width="100%">

<tr>
<td valign="top" width="23%">
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Programming_cyber_.E2.80.A2_Fund">Programming cyber • Fund</span></h2>
<ul>
<li>Inception
</li>
<li>Seed
<ul>
<li>Communications
</li>
<li>What is cyber•Shares?
</li>
<li>Distribution
</li>
<li>Voting
</li>
<li>Value model
</li>
<li>Why there is no dividends?
</li>
<li>What is cyber?
</li>
<li>Social consensus
</li>
</ul>
</li>
<li>Birth, Infancy and so on.
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Genesis_Sale_Race">Products</span></h2>
<ul>
<li>cyber•Wallet
</li>
<li>cyber•Pie
</li>
<li>cyber•Inceptor
</li>
<li>cyber•Rating
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Genesis_Sale_Race">Genesis Sale Race</span></h2>
<ul>
<li>General
</li>
<li>Distribution
</li>
<li>Motivation programs
</li>
<li>Events program
</li>
<li>Community involvement program
</li>
<li>Transparency
</li>
<li>Risk
</li>
<li>Other substantial terms
</li>
</ul>
</div>
</td>
<td valign="top" width="23%">
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Global_Brain">Global Brain</span></h2>
<ul>
<li>infinite efficiency
</li>
<li>Liryc history
</li>
<li>Artificial intelligent networks
<ul>
<li>Intelligence in Science
</li>
<li>Existence of meaning
</li>
<li>Cyber value
<ul>
<li>Cybermoney
</li>
<li>Cybershares
</li>
<li>Cyberproperty
</li>
<li>Intangibility vs tangibility
</li>
</ul>
</li>
<li>Efficient Communications
<ul>
<li>Peer to peer
</li>
<li>Open Data
</li>
<li>Open Source
</li>
</ul>
</li>
<li>Self-consciousness
</li>
<li>Equilibrium
</li>
</ul>
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Proof">Proof</span></h2>
<ul>
<li>Cryptographic proof
<ul>
<li>Fundamental proofs
</li>
<li>Derivative proofs
</li>
<li>Probabilistic proofs
</li>
</ul>
</li>
<li>Proof-of-Origin
</li>
</ul>
</div>
</td>
<td valign="top" width="23%">
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Cybernetic_business_framework">Cybernetic business framework</span></h2>
<ul>
<li>Paper work
</li>
<li>Transforming DAO to AIN
</li>
<li>Meaning
</li>
<li>Story
</li>
<li>Metaphor
</li>
<li>Gamification
</li>
<li>Fair distribution
</li>
<li>Funding vs and Development
</li>
<li>Cashflow engine
</li>
<li>Input/Output
<ul>
<li>Input/Output
</li>
<li>Value flows
</li>
<li>Superagents
</li>
</ul>
</li>
<li>Apps Engine
</li>
<li>How to create global brain?
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Communication_tools">Communication tools</span></h2>
<ul>
<li>Wiki - Kknowledge
</li>
<li>Trello - Roadmap
</li>
<li>Forum - Connections
</li>
<li>Github - Code
</li>
<li>Twiitter - Updates
</li>
</ul>
</div>
</td>
<td valign="top" width="23%">
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Cybernetic_economy">Cybernetic economy</span></h2>
<ul>
<li>Cybernetic economy vision
</li>
<li>Artificial Intelligent Networks perspective
</li>
<li>Governments
</li>
<li>Businesses
</li>
<li>Society
</li>
<li>Space Industry
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Learn.2C_learn_and_learn..">Learn, learn and learn..</span></h2>
<ul>
<li>ABCs Bitcoin
</li>
<li>List of apps
<ul>
<li>Apps for managing cybervalues
</li>
<li>Apps for efficient marketing efforts
</li>
</ul>
</li>
<li>Glossary
</li>
</ul>
</div>
<div style="border:1px solid #90C0FF; background:#98FB98; width:95%; padding:4px; margin-bottom:10px;">
<h2><span class="mw-headline" id="Other_Languages">Other Languages</span></h2>
<ul>
<li>首页 | 中文版
</li>
<li>Главная | Русский
</li>
</ul>
</div>
</td></tr></table>

  </div class="clear">
  <!-- end FEATURED section -->
  <!-- Features list -->

{%- endblock -%}

{%- block js -%}

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{%- endblock -%}
