<!-- originally created for cyber.fund project-->
<template name="systemBasic">
  <div class="row">
    {{#with curData}}
      <div class="col s12 m9 l10">
        <div id="about" class="row valign-wrapper" style="padding:20px">
          <div class="col l4 center valign">
              <h2>{{name}}</h2>
              <span>{{symbol}}</span>
          </div>
          <div class="col l4 center valign">
              {{> hitryImage img_url=img_url style="width: 40%"}}
          </div>
          <div class="col m4 center valign">
              <h4>{{>cfRating rating=metrics.rating}}</h4>
          </div>
        </div>
        <div id="headline" class="row center">
          <p>{{descriptions.short_description}}</p>
        </div>
        <div id="main-links" class="row center">
          <div class="col l3 center valign">
              <a href="">Link</a>
          </div>
          <div class="col l3 center valign">
              <a href="">Link</a>
          </div>
          <div class="col l3 center valign">
              <a href="">Link</a>
          </div>
          <div class="col l3 center valign">
              <a href="">Link</a>
          </div>
        </div>
        <div id="market" class="row center">
          <div class="col l3 center valign" style="padding:10px">
            <div class="card">
              <p>Price</p>
              <p class="enlarge">{{readableN price.usd}}</p>
              <p>{{readableN price.btc}}</p>
            </div>
          </div>
          <div class="col l3 center valign" style="padding:10px">
            <div class="card">
              <p>Cap</p>
              <p class="enlarge">{{readableN cap.usd 0}}</p>
              <p>{{readableN cap.btc 0}}</p>
            </div>
          </div>
          <div class="col l3 center valign" style="padding:10px">
            <div class="card">
              <p>Trade</p>
              <p class="enlarge">{{readableN tradeVolume 0}}</p>
              <p>Link</p>
            </div>
          </div>
          <div class="col l3 center valign" style="padding:10px">
            <div class="card">
              <p>Supply</p>
              <p class="enlarge">{{supply}}</p>
              <p>.</p>
            </div>
          </div>
        </div>
        <div id="charts" class="row center">
          <script type="text/javascript">
                  var data = {
              // A labels array that can contain any sort of values
              labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
              // Our series array that contains series objects or in this case series data arrays
              series: [
                [5, 2, 4, 2, 0]
              ]
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            new Chartist.Line('.ct-chart', data);
          </script>
          <div class="ct-chart" style="height:200px"></div>
        </div>
        <div id="hashtag" class="row center">
          <a class="twitter-timeline" href="https://twitter.com/hashtag/ethereum" data-widget-id="615439140906233857">#bitcoin Tweets</a>
          <script>!function(d,s,id)
            {var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
        </div>
        <div id="links" class="section scrollspy row">
              {{#each links}}
                {{#if tagMatchesTags "Main" tags}}
                  <div class="col l3 center"><img src="http://chaingear.cyber.fund/{{name}}/{{icon}}"><a href="{{url}}" target="_blank">{{name}}</a></div>
                <!-- {{else}}
                  <li><a href="{{url}}" target="_blank">{{name}}</a></li> -->
                {{/if}}
              {{/each}}
        </div>
      </div>
      <div class="col hide-on-small-only m3 l2">
        {{#pageContents class='scroller'}}
            <li><a href="#info" class="">Info</a></li>
            <li><a href="#headline" class="">Headline</a></li>
            <li><a href="#main-links" class="">Links</a></li>
            <li><a href="#market" class="">Market</a></li>
            <li><a href="#charts" class="">Charts</a></li>
            <li><a href="#hashtag" class="">Twitter flow</a></li>
            <li><a href="#links" class="">More Links</a></li>
        {{/pageContents}}
      </div>
    {{/with}}
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="stars"></i></a>
  </div>
  {{isBeforeNow "1/2/2014" "D/M/YYYY"}}
  {{isAfterNow "1/2/2016" "D/M/YYYY"}}
  {{isNowBetween "1/2/2014" "1/2/2016" "D/M/YYYY"}}
</template>
