<!-- originally created for cyber.fund project-->
<template name="systemBasic">
    {{#with curData}}
        <div class="row" style="height: 1.6rem">&nbsp;</div>
        <div class="row">
            <div class="col m4 center">
                <h3>{{name}}</h3>
                <span>{{symbol}}</span>
            </div>
            <div class="col m4 center">
                <div style="width: 80%">
                    {{> hitryImage img_name=img_name style="width: 100%"}}
                </div>
            </div>
            <div class="col m4 center">
                <ul>
                    <!-- sample link item data:::
                        "name": "web site",
                        "url": "http://ethereum.org/",
                        "icon": "website.png",
                        "tags": ["Main", "Apps"],-->
                    {{#each links}}
                        <li><a href="{{url}}">{{name}}</a>
                            <!--{{name}}} here relates to `links` item-->
                        </li>
                        <!--span> to access system name here - use {{../name}}</span-->
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/with}}
</template>