<!-- originally created for cyber.fund project-->
<template name="assetsManager">
    <section id="assets-manager" class="assets-manager row" owner={{assetsOwnerId}}>
        {{#each _accounts}}
          {{> displayAccount this}}
        {{/each}}

        {{#if isOwnAssets}}
            <div id="modal-add-address" class="modal">
                <div class="modal-content">
                    <h4 class="center">Add address to
                        account {{currentAccount.name}}</h4>

                    <form id="add-address-form"
                          account-id="{{session 'currentAccount'}}">
                        <div class="row">
                            <input type="text" name="address"
                                   placeholder="Address" id="add-address-input">
                            <label id="add-address-error"
                                   class="red-text hidden">Address already
                                exists</label>
                        </div>

                        <div class="row">
                            <button type="submit"
                                    class="btn waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Add
                            </button>
                            <a class="modal-action modal-close btn waves-effect right grey">Cancel</a>

                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-rename-account" class="modal">
                <div class="modal-content">
                    <form id="rename-account-form">
                        <h4>Rename account {{currentAccount.name}}</h4>
                        {{#if currentAccount}}
                            <div class="row">
                                <label for="rename-account-in">New name</label>
                                <input type="text" id="rename-account-in"
                                       value="{{currentAccount.name}}"/>
                                <label id="account-rename-exists"
                                       class="red-text hidden">Account with that
                                    name already exists</label>
                            </div>
                        {{/if}}
                        <div class="row">
                            <button type="submit"
                                    class="btn right waves-effect">
                                Rename
                            </button>
                            <a class="modal-action modal-close btn  waves-effect grey">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-delete-account" class="modal">
                <div class="modal-content">
                    <form id="delete-account-form">
                        {{#if currentAccount}}
                            <h4 class="center">Delete
                                account {{currentAccount.name}}</h4>


                            <div class="row">
                                <p> Confirm deletion {{currentAccount.name}}
                                    account</p>
                            </div>

                            <div class="row">
                                <button type="submit"
                                        class="btn red waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                    Delete
                                </button>
                                <a class="modal-action modal-close btn  waves-effect right grey">Cancel</a>
                            </div>
                        {{/if}}
                    </form>
                </div>
            </div>


            <div id="modal-delete-address" class="modal">
                <div class="modal-content">
                    <form id="delete-address-form">
                        {{#if currentAccount}}
                            <h4 class="center">Delete address</h4>


                            <div class="row">
                                <p> Confirm deletion of {{currentAddress}}
                                    address
                                    at {{currentAccount.name}} account</p>
                            </div>
                        {{/if}}
                        <div class="row">
                            <button type="submit"
                                    class="btn red waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Delete
                            </button>
                            <a class="modal-action modal-close btn  waves-effect right grey">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>


            <div id="modal-add-asset" class="modal">
                <div class="modal-content">
                    <form id="add-asset-form">
                        {{#if currentAccount}}
                            <h4 class="center">Add asset</h4>

                            <div class="row">
                                <p> Add asset to address {{currentAddress}}
                                    (at Account {{currentAccount.name}}) ?</p>
                            </div>
                        {{/if}}
                        <div class="row search-wrap">
                            <div class="col lg-3 md-3 sm-4">
                                {{> searchItem2}}
                            </div>
                            <div class="col lg-9 md-9 sm-8">
                                <span class="enlarge">{{#if currentAsset}}
                                    {{>systemWithToken currentAsset}}
                                    ){{/if}}</span>
                            </div>
                        </div>
                        <div class="row number-sum-wrapper">
                            <input type="text" name="asset-quantity-input"
                                   class="number-sum validate"
                                   id="asset-quantity-input"
                                   placeholder="Type amount here"/>
                            <label class="red-text hidden">Please enter valid
                                number</label>
                        </div>
                        <div class="row">
                            <button type="submit"
                                    class="btn right red waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Add
                            </button>
                            <a class="modal-action modal-close btn  waves-effect  cancel-add-address grey">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>


            <div id="modal-delete-asset" class="modal">
                <div class="modal-content">
                    <form id="delete-asset-form">
                        {{#if currentAsset}}
                            <h4 class="center">Delete asset</h4>

                            <div class="row">
                                <p> Confirm deletion
                                    of {{currentAsset._id}}
                                    at {{currentAddress}}</p>
                            </div>
                        {{/if}}
                        <div class="row">
                            <button type="submit"
                                    class="btn red waves-effect {{#if session 'addingAccount'}}disabled{{/if}}">
                                Delete
                            </button>
                            <a class="modal-action modal-close btn  waves-effect right grey">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-edit-asset" class="modal">
                <div class="modal-content">
                    <form id="edit-asset-form">
                        <h4 class="center">Edit asset</h4>
                        {{#if currentAccount}}
                            <div class="row">
                                <p> Update quantity
                                    of {{currentAsset._id}}
                                    at {{currentAddress}}</p>

                                <div class="col lg-3 md-3 sm-4">
                                    <input type="text"
                                           style="width: 100%; color: black"
                                           name="asset-symbol-input" disabled
                                           placeholder="Use search bar"
                                           value="{{#if currentAsset}}{{>systemWithToken currentAsset}}{{/if}}">
                                </div>
                                <div class="col lg-3 md-3 sm-4">
                                    <div class="row number-sum-wrapper">
                                        <input style="width: 100%; display: block"
                                               type="text"
                                               name="asset-quantity-input"
                                               value="{{currentAmount}}"
                                               class="number-sum validate"
                                               id="asset-quantity-edit"
                                               placeholder="Type amount here"/>
                                        <label class="red-text hidden">Please
                                            enter valid number</label>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="row">
                            <a class="modal-action modal-close btn  waves-effect grey">Cancel</a>
                            <button type="submit"
                                    class="btn right waves-effect">
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-toggle-private" class="modal">
                <div class="modal-content">
                    <form id="toggle-private-form">
                        {{#if currentAccountId}}
                            <h4 class="center">Make
                                account {{privacyOpposite currentAccountId}}
                                .</h4>

                            <div class="row">
                                <p> Confirm turning
                                    account {{currentAccount.name}}
                                    into {{privacyOpposite currentAccountId}}
                                    .</p>
                            </div>
                        {{/if}}
                        <div class="row">
                            <button type="submit" class="btn waves-effect">Ok
                            </button>
                            <a class="modal-action modal-close btn  waves-effect right grey">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

        {{/if}}
    </section>
</template>
