.card {
    min-height: 3em;
}

/* cloned from .cglinkbox */
.markt-card-row {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.markt {
  display: flex;
  mix-width: 220px;
  justify-content: center;
}


.markt h5{
  margin-bottom: 1.2em;
  text-transform: capitalize;
}

.generic {
  padding: 1.61rem
}
