<!-- originally created for cyber.fund project-->
<template name="footer">
    <footer class="page-footer blue">
        <div class="w90">
            <div class="row" style="margin-bottom:0">
                <div class="col l4 m4 s6">
                    <h5 class="white-text">About
                      cyber<span style="color: yellow; font-size:0.85em;">
                        <strong>•</strong>
                      </span>Fund
                    </h5>
                    <p class="grey-text text-lighten-4">Our mission to make digital investments comprehensible, accessible, easy and safe.</p>
                    <br>
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                </div>

                <div class="col l2 m4 s6">
                    <h5 class="white-text">Build</h5>
                    <ul>
                        <li><a class="white-text"
                          href="http://cybertalks.org/t/rating-listing-of-cryptocurrencies-and-cryptoassets/353"
                          target="_blank">Rating Listing</a></li>
                        <li><a class="white-text"
                          href="http://cybertalks.org/t/radar-listing-of-cryptocurrencies-and-cryptoassets/354"
                          target="_blank">Radar Listing</a></li>
                        <li><a class="white-text"
                          href="https://github.com/cyberFund/chaingear"
                          target="_blank">Chaingear</a></li>
                        <li><a class="white-text"
                          href="https://github.com/cyberFund"
                          target="_blank">Github</a></li>
                    </ul>
                </div>

                <div class="col l2 m4 s6">
                    <h5 class="white-text">Invest</h5>
                    <ul>
                        <li><a class="white-text"
                          href="https://medium.com/cyber-blog/unraveling-cyber-fund-188ded8c5128"
                          target="_blank">Why cyber•Fund?</a></li>
                        <li><a class="white-text"
                          href="/decisions">Decisions</a></li>
                        <li><a class="white-text"
                          href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK"  target="_blank">Cryptoasset</a></li>
                        <li><a class="white-text"
                          href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK/owners"
                          target="_blank">Holders</a></li>
                        <li><a class="white-text"
                          href="https://angel.co/cyber-fund"
                          target="_blank">AngelList</a></li>
                        <li><a class="white-text"
                          href="https://waffle.io/cyberfund/cyber.fund?label=milestone" target="_blank">Roadmap</a></li>
                    </ul>
                </div>

                <div class="col l2 m4 s6">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text"
                          href="http://cybertalks.org/t/do-cyber-fund-better-together"
                          target="_blank">Feedback</a></li>
                        <li><a class="white-text"
                          href="https://twitter.com/cyberfundio"
                          target="_blank">Twitter</a></li>
                        <li><a class="white-text"
                          href="https://www.facebook.com/cyberfund"
                          target="_blank">Facebook</a></li>
                        <li><a class="white-text"
                          href="https://plus.google.com/+CyberfundIo"
                          target="_blank">Google+</a></li>
                        <li><a class="white-text"
                          href="https://www.linkedin.com/company/cyberfund"
                          target="_blank">LinkedIn</a></li>
                        <li><a class="white-text"
                          href=""
                          target="_blank">Reddit</a></li>
                    </ul>
                </div>
                <div class="col l2 m4 s6">
                    <h5 class="white-text">Projects</h5>
                    <ul>
                        <li><a class="white-text"
                          href="https://blog.cyber.fund/"
                          target="_blank">cyber•Blog</a></li>
                        <li><a class="white-text"
                          href="http://cybertalks.org/"
                          target="_blank">cyber•Talks</a></li>
                        <li><a class="white-text"
                          href="http://bit.ly/cyberfundpe2013"
                          target="_blank">Satoshi•Fund</a></li>
                        <li><a class="white-text"
                          href="http://cyberep.cyber.fund/"
                          target="_blank">#cyberep</a></li>
                        <li><a class="white-text"
                          href="http://cybertalks.org/t/cyber-wiki-main"
                          target="_blank">cyber•Wiki</a></li>
                        <li><a class="white-text"
                          href="http://cyberrating.org"
                          target="_blank">cyber•Rating</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
              <div class="col s12 m6 offset-m3 l2 offset-l4">
                {{> keenIo id="meow"}}
              </div>
            </div>
        </div>
    </footer>
</template>
