<!-- originally created for cyber.fund project-->
<template name="footer">
    <footer class="page-footer blue">
        <div>
            <div class="row" style="margin-bottom:0">
                <div class="col l4 m3 s12 offset-m1">
                    <h5 class="white-text">About
                      cyber<span style="color: yellow; font-size:0.85em;">
                        <strong>•</strong>
                      </span>Fund
                    </h5>
                    <p class="grey-text text-lighten-4">Our mission to make digital investments comprehensible, accessible, easy and safe.</p>
                    <br>
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                </div>

                <div class="col l2 m3 s6 offset-m1">
                    <h5 class="white-text">Build</h5>
                    <ul>
                        <li><a class="white-text"
                          href="/listing">Listing</a></li>
                        <li><a class="white-text"
                          href="https://github.com/cyberFund/chaingear"
                          target="_blank">Chaingear</a></li>
                        <li><a class="white-text"
                          href="https://github.com/cyberFund"
                          target="_blank">Github</a></li>
                    </ul>
                </div>

                <div class="col l2 m3 s6">
                    <h5 class="white-text">About</h5>
                    <ul>
                        <li><a class="white-text"
                          href="/decisions">Decisions</a></li>
                        <li><a class="white-text"
                          href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK"  target="_blank">Cryptoasset</a></li>
                        <li><a class="white-text"
                          href="https://www.coinprism.info/asset/AbhBFwWFpZzFMsBakZbDzUTYv67t9rThaK/owners"
                          target="_blank">Holders</a></li>
                    </ul>
                </div>

                <div class="col l2 m3 s6 offset-m1">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text"
                          href="https://steemit.com/created/cyberfund"
                          target="_blank">Blog</a></li>
                        <li><a class="white-text"
                          href="https://twitter.com/cyberfundio"
                          target="_blank">Twitter</a></li>
                        <li><a class="white-text"
                          href="https://gitter.im/orgs/cyberFund/rooms"
                          target="_blank">Gitter</a></li>
                    </ul>
                </div>
                <div class="col l2 m3 s6">
                    <h5 class="white-text">Projects</h5>
                    <ul>
                        <li><a class="white-text"
                          href="/system/SatoshiFund">
                          Satoshi•Fund</a></li>
                        <li><a class="white-text"
                          href="/system/SatoshiPie">
                          Satoshi•Pie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>
