<Template name="systemSpecs">
  <div id="specs" class="row center scrollspy  striped">
    {{#if and (isObject(specs)) (not (isEmpty(specs))) }}
    <div class="col offset-l3 l6 offset-m1 m10 s12">
      <h3 class="center">Specification</h3>
      <table>

        <thead>
          <tr>
            <th data-field="property">Property</th>
            <th data-field="value">Value</th>
          </tr>
        </thead>

        <tbody>
          {{#each keyValue specs}} {{#if isObject value}} {{#each keyValue value}}
          <tr>
            <td>{{_specs__ ../key key}}</td>
            <td> {{#if isNumber value}} {{readableNumbers value}} {{else}} {{value}} {{/if}}
            </td>
          </tr>
          {{/each}} {{else}}
          <tr>
            <td>{{_specs_ key}}</td>
            <td> {{#if isNumber value}} {{readableNumbers value}} {{else}} {{value}} {{/if}}
            </td>
          </tr>
          {{/if}} {{/each}}
        </tbody>

      </table>
    </div>
    {{/if}}
    <div class="col l3 m1 hide-"></div>
  </div>
</Template>
