<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-tooltip/core-tooltip.html">

<polymer-element name="cf-readable-supply" attributes="percents change absolute">
	<template>
		<core-tooltip position="top" horizontal layout>
			<div flex>{{text}}</div>
			<div tip>
				<div style="line-height: 1.5em; font-size: 1.3em">
					<div>Current supply: <b>{{absolute}}</b></div>
					<div>Absolute change: <b>{{change}}</b></div>
				</div>
			</div>
		</core-tooltip>
	</template>

	<script>
		percentsToText = function(percents) {
			if (percents < 0) {
				return "Deflation " + (-percents) + "%";
			} else if (percents > 0) {
				return "Inflation " + percents + "%";
			} else {
				return "Stable";
			}
		};

		Polymer("cf-readable-supply", {
			ready: function() {
				this.text = percentsToText(this.percents);
			},
			percentsChanged: function(oldPercents, newPercents) {
				this.text = percentsToText(newPercents);
			},
		});
	</script>
</polymer-element>
