<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="/components/core-toolbar/core-toolbar.html">
<link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/components/paper-tabs/paper-tabs.html">

<polymer-element name="cf-readable-supply" attributes="value">
	<template>
		<span>{{text}}</span>
	</template>

	<script>
		valueToText = function(value) {
			if (value < 0) {
				return "Deflation " + (-value) + "%";
			} else if (value > 0) {
				return "Inflation " + value + "%";
			} else {
				return "Stable";
			}
		};

		Polymer("cf-readable-supply", {
			ready: function() {
				this.text = valueToText(this.value);
			},
			valueChanged: function(oldValue, newValue) {
				this.text = valueToText(newValue);
			},
		});
	</script>
</polymer-element>
